<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.slcp.devops.mapper.IAdminMapper">

    <select id="listSysAdminPageOfXml" resultType="com.slcp.devops.entity.SysAdmin"
            parameterType="com.slcp.devops.entity.SysAdmin">
        SELECT * FROM
        sys_admin
        WHERE 1 = 1
        <if test="query !=null and query !=''">
            and username like #{query}
        </if>
    </select>

    <select id="listUserPage" resultType="com.slcp.devops.dto.UserDTO">
        SELECT
            t1.id,
            t1.rid,
            t1.nickname,
            t1.username,
            t1.email,
            t1.is_status status,
            t1.update_time updateTime,
            t2.role_name roleName,
            t2.role_desc roleDesc
        FROM
            sys_admin t1
                LEFT JOIN sys_role t2 ON t1.rid = t2.id
        <where>
            1=1
            <if test="nickname !=null and nickname != ''">
                and t1.nickname like concat('%',#{nickname},'%')
            </if>
        </where>
    </select>

</mapper>