<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta content="width=device-width,initial-scale=1,maximum-scale=1" name="viewport">
  <title>找不到页面~</title>

  <link rel="stylesheet" href="../../static/css/error.min.css" th:href="@{/css/error.min.css}">
</head>

<body translate="no">
<div class="content">
  <canvas class="snow" id="snow" width="1920" height="917"></canvas>
  <div class="main-text">
    <h1>天啊。<br>页面在雪地里失踪了。</h1>
    <div class="main-text-a"><a href="#" th:href="@{/article/}" style="font-family: KaiTi,serif;">&lt; 返回首页</a></div>
  </div>
  <div class="ground">
    <div class="mound">
      <div class="mound_text">404 </div>
      <div class="mound_spade"></div>
    </div>
  </div>
</div>
<script src="../../static/js/error.min.js" th:src="@{/js/error.min.js}"></script>
</body></html>