.timeline-box {
    background: #fff;
    padding: 8px;
    position: relative;
    position: center;
    min-height: 90vh;
    margin-top: 20px;
    border-radius: 9px;
    max-width: 920px;
    box-shadow: 0 1px 20px -6px rgba(0, 0, 0, .5) !important;
    transition: all 0.3s ease-in-out
}

.timeline-box:hover {
    box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .6) !important
}

.timeline-main {
    position: relative;
    min-height: 85vh
}

.timeline-main > h1 {
    font-size: 18px;
    z-index: 1;
    position: relative;
    color: #484348;
    right: 23.3%;
    margin-left: -moz-calc(35% - 7px);
    margin-left: -webkit-calc(35% - 7px);
    margin-left: calc(35% - 7px)
}

.timeline-main > h1 > i {
    padding-right: 10px;
    font-size: 20px
}

.timeline-main > h1 > span {
    display: none
}

.timeline-main h2, .timeline-main h3 {
    width: 31%;
    text-align: right
}

.timeline-main h2, .timeline-main h2 > a {
    font-size: 16px;
    margin: 5px 0;
    color: #6bc30d
}

.timeline-main h3, .timeline-main h3 > a {
    font-size: 14px;
    margin: 2px 0;
    color: #ff5722
}

.timeline-month > ul > li {
    padding: 10px 0
}

.timeline-month > ul > li .h4 {
    display: inline-block;
    width: 31%;
    text-align: right;
    float: left
}

.date {
    display: inline-block;
    padding: 2px 5px;
    color: #484348;
    font-size: 15px;
    margin-top: -2px
}

.dot-circle {
    color: #484348;
    width: 8%;
    text-align: center;
    font-size: 22px;
    z-index: 1;
    position: relative;
    background: #fff;
    float: left
}

.contentC {
    float: left;
    padding: 20px;
    margin-left: 10px;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    width: 330px;
    color: #384256;
    border: 1px dashed #e1e8f6;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, .12);
    transition: all .4s;
    display: block;
}

.contentC:hover {
    transform: translateX(18px);
    box-shadow: 0 0 8px 3px rgba(0, 0, 0, .12)
}

.contentC .archive-link {
    color: #1b1b2e;
    transition: all .4s;
}

.DarkMode .contentC .archive-link {
    color: #a9a9b3 !important;
}

.DarkMode .contentC {
    border: 1px dashed #505570 !important;
}

.contentC::before {
    content: '';
    position: absolute;
    top: 10px !important;
    right: 100%;
    height: 0;
    width: 14px;
    margin-left: 2px;
    margin-right: 2px;
    border: 1px dashed #ffa726
}

.timeline-line {
    position: absolute;
    left: 35%;
    top: 0;
    height: 95%;
    top: 50px;
    width: 2px;
    background-image: linear-gradient(to right, #35346c 0%, #8e1b1b 100%);
    z-index: 0
}

.timeline-year {
    margin: 10px 0
}

@media (min-width: 768px) {
    .timeline-box {
        background: #fff;
        padding: 15px;
        position: relative;
        min-height: 90vh
    }

    .timeline-main > h1 {
        font-size: 26px;
        margin-left: 16%;
        margin-left: -moz-calc(18% - 13px);
        margin-left: -webkit-calc(18% - 13px);
        margin-left: calc(18% - 13px)
    }

    .timeline-main > h1 > i {
        font-size: 30px
    }

    .timeline-main > h1 > span {
        display: inline
    }

    .timeline-main h2, .timeline-main h3 {
        width: 35%
    }

    .timeline-main h2, .timeline-main h2 > a {
        font-size: 24px
    }

    .timeline-main h3, .timeline-main h3 > a {
        font-size: 20px
    }

    .timeline-month > ul > li .h4 {
        width: 33.1%
    }

    .dot-circle {
        width: 4%;
        font-size: 22px
    }

    .contentC {
        max-width: 70%
    }

    .timeline-line {
        left: 35%
    }
}

@media (min-width: 992px) {
    .timeline-main > h1 {
        font-size: 34px;
        z-index: 1;
        position: relative;
        color: #484348;
        margin-left: 35%;
        margin-left: -moz-calc(35% - 16px);
        margin-left: -webkit-calc(35% - 16px);
        margin-left: calc(35% - 16px)
    }

    .timeline-main > h1 > i {
        font-size: 36px
    }

    .timeline-main h2, .timeline-main h2 > a {
        font-size: 30px
    }

    .timeline-main h3, .timeline-main h3 > a {
        font-size: 24px
    }
}

.bg-cover::before {
    background-image: url("../images/my/grid.png")
}
    