/* 全局样式表 */
html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 100%;
}

.el-card {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
}

.el-breadcrumb {
  margin-bottom: 15px;
  font-size: 12px;
}

.el-table {
  margin-top: 15px;
  font-size: 12px;
}

.el-steps {
  margin: 15px 0;
}

.el-pagination {
  margin-top: 15px;
}

.ql-editor {
  min-height: 300px;
}

.el-step__title {
  font-size: 13px;
}

.mi-img {
  background-color: transparent;
  width: 50%;
  height: 50%;
  object-fit: fill;
  display: block;
  left: 0;
  z-index: 0;
  top: 0;
}

.mx-img {
  width: 100%;
  height: 50%;
}

.me-video-player {
  background-color: transparent;
  width: 100%;
  height: 100%;
  object-fit: fill;
  display: block;
  left: 0;
  z-index: 0;
  top: 0;
}