<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width"/>
    <meta name="author" content="www.Slcp.top"/>
    <meta name="robots" content="all"/>
    <title>Slcpの魔历球</title>
    <link rel="stylesheet" href="../static/css/timeline.css" th:href="@{/css/timeline.css}">
    <head th:replace="~{common :: .head}"></head>
</head>
<body>
<div th:replace="~{common :: .top}"></div>

<div class="bg-cover pd-header about-cover" style="background-image: url(https://img.slcp.top/bg11.jpg)">
    <div data-aos="fade-left" class="link-tag hide-on-med-and-down">
        <div class="V-title">
            <span>"Archive"</span>
        </div>
    </div>
    <div class="center-align link-typed">
        <span id="subtitle" style="font-size: 28px;"></span>
    </div>
    <div class="hide-on-med-and-down V-img-link"
         data-aos="fade-right">
        <div class="V-title">
            <span>"SL"</span>
        </div>
    </div>
</div>
<div class="container archive-calendar">
    <div class="card">
        <div class="center-align">
            <div class="V-title V-title-top">
                <span><i class="fa fa-history"></i></span><span>&nbsp;&nbsp;时间轴❦</span>
            </div>
        </div>
        <hr data-aos="fade-right">
        <div style="height: 20px"></div>
        <div id="post-calendar" class="card-content"></div>
    </div>
    <div class="timeline-box shadow">
        <div class="timeline-main">
            <h1><i class="fas fa-clock"></i>文章归档</h1>
            <div class="timeline-line"></div>
            <div class="timeline-year" th:each="year : ${years}">
                <h2><a class="yearToggle" href="javascript:void(0)" th:text="${year}">2022</a><i
                        class="fa fa-fw fa-caret-down"></i></h2>
                <div class="timeline-month" style="" th:each="archive : ${blogs}">
                    <h3><a class="monthToggle" href="javascript:void(0)"
                           th:text="${#dates.format(archive.createTime,'MM月')}">12月</a><i
                            class="fa fa-caret-down fa-fw"></i>
                    </h3>
                    <ul th:each="blog : ${archive.data}">
                        <li>
                            <div class="h4">
                                <p class="date" th:text="${#dates.format(blog.createTime,'dd日')}">12日</p>
                            </div>
                            <p class="dot-circle animated" style="top:-21px;"><i class="fas fa-dot-circle"></i></p>

                            <article class="contentC" style="margin-left:8px;display: block;">
                                <div class="new-item-badge"><i class="fas fa-bookmark fa-fw icon-category"
                                                               style="color: #fff"></i>
                                    <a th:href="@{/article/category/{name}(name=${blog.typeName})}" style="color: #fff">
                                        <span th:text="${blog.typeName}">软件工具</span>
                                    </a></div>
                                <div class="article col s12 m6 l4" data-aos="zoom-in">
                                    <div class="card z-depth-5">
                                        <a th:href="@{/article/read/{id}(id=${blog.id})}">
                                            <div class="card-image card-image-V">
                                                <img class="responsive-img lazyload"
                                                     th:href="@{/article/read/{id}(id=${blog.id})}"
                                                     src="../static/images/common/orange.progress-bar-stripe-loader.svg"
                                                     th:src="@{/images/common/orange.progress-bar-stripe-loader.svg}"
                                                     data-src="../static/images/backimg1.jpg"
                                                     th:data-src="@{${blog.firstPicture}}"
                                                     alt="${blog.title}"/>
                                                <span class="card-title title-V" th:text="${blog.title}">一些排序算法回顾</span>
                                                <div class="box-content">
                                                    <h3 class="title">阅读全文</h3>
                                                    <span class="post" style="width: 200px;color: black;"
                                                          th:text="${blog.title}">一些排序算法回顾</span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </article>
                            <div class="clear"></div>
                        </li>
                    </ul>
                </div>
            </div>
            <h1 class="archive-end"><i class="fa fa-hourglass-end"></i>THE END
            </h1>
        </div>
    </div>
</div>
<div th:include="~{common :: .floor}"></div>
<div th:replace="~{common :: .floor-js}"></div>
<script src="../static/js/echarts.min.js" th:src="@{/js/echarts.min.js}"></script>
<script>
    $(function () {
        $.ajax({
            "url": "/archives/sQuByTime",
            "type": "POST",
            "success": function (data) {
                let postsChart = echarts.init(document.getElementById('post-calendar'));
                let postsOption = {
                    title: {
                        text: '文章发布统计图',
                        top: -3,
                        x: 'center'
                    },
                    tooltip: {
                        trigger: 'axis'
                    },
                    xAxis: {
                        type: 'category',
                        data: data.date
                    },
                    yAxis: {
                        type: 'value',
                    },
                    series: [
                        {
                            name: '文章篇数',
                            type: 'line',
                            color: ['#6772e5'],
                            data: data.count,
                            markPoint: {
                                symbolSize: 45,
                                color: ['#fa755a', '#3ecf8e', '#82d3f4'],
                                data: [{
                                    type: 'max',
                                    itemStyle: {color: ['#3ecf8e']},
                                    name: '最大值'
                                }, {
                                    type: 'min',
                                    itemStyle: {color: ['#fa755a']},
                                    name: '最小值'
                                }]
                            },
                            markLine: {
                                itemStyle: {color: ['#ab47bc']},
                                data: [
                                    {type: 'average', name: '平均值'}
                                ]
                            }
                        }
                    ]
                };
                // render the charts
                postsChart.setOption(postsOption);
            }
        })
    });
    $('.monthToggle').click(function () {
        $(this).parent('h3').siblings('ul').slideToggle('slow');
        $(this).siblings('i').toggleClass('fa-caret-down fa-caret-right');
    });
    $('.yearToggle').click(function () {
        $(this).parent('h2').siblings('.timeline-month').slideToggle('slow');
        $(this).siblings('i').toggleClass('fa-caret-down fa-caret-right');
    });

</script>

</body>
</html>
