<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="../static/common/common.css" th:href="@{/common/common.css}">
    <title>Title</title>
</head>

<body>
<head>
    <base target="_blank"/>
    <style id="scrollbar" type="text/css">::-webkit-scrollbar {
        width: 0 !important
    }

    pre {
        white-space: pre-wrap !important;
        word-wrap: break-word !important;
        *white-space: normal !important
    }

    pre {
        white-space: pre-wrap !important;
        word-wrap: break-word !important;
        *white-space: normal !important
    }

    #letter img {
        max-width: 300px
    }</style>
    <style id="from-wrapstyle" type="text/css">#form-wrap {
        overflow: hidden;
        height: 447px;
        position: relative;
        top: 0px;
        transition: all 1s ease-in-out .3s;
        z-index: 0
    }</style>
    <style id="from-wraphoverstyle" type="text/css">#form-wrap:hover {
        height: 1300px;
        top: -200px
    }</style>
</head>
<body>
<div style="width: 530px;margin: 20px auto 0;height: 1000px;">
    <div id="form-wrap"><img src="https://cdn.jsdelivr.net/gh/Akilarlxh/Valine-Admin@v1.0/source/img/before.png"
                             alt="before"
                             style="position: absolute;bottom: 126px;left: 0px;background-repeat: no-repeat;width: 530px;height: 317px;z-index:-100">
        <div style="position: relative;overflow: visible;height: 1500px;width: 500px;margin: 0px auto;transition: all 1s ease-in-out .3s;padding-top:200px;"
        <form>
            <div style="background: white;width: 95%;max-width: 800px;margin: auto auto;border-radius: 5px;border: 1px solid;overflow: hidden;-webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.12);box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.18);">
                <img style="width:100%;overflow: hidden;"
                     src="https://ae01.alicdn.com/kf/U5bb04af32be544c4b41206d9a42fcacfd.jpg"/>
                <div style="padding: 5px 20px;"><br>
                    <div><h3 style="text-decoration: none; color: rgb(246, 214, 175);">
                        ${PARENT_NICK} ，见信安：</h3></div>
                    <div id="letter"
                         style="overflow:auto;height:300px;width:100%;display:block;word-break: break-all;word-wrap: break-word;">
                        <p style="display: inline-block;">您在<a style="text-decoration: none;color: rgb(246, 214, 175)"
                                                               target="_blank"
                                                               href="#">
                            Slcpの时光屋</a>上发表的评论:
                        </p>
                        <div align="center">❤</div>

                        <div style="border-bottom: #ddd 1px solid;border-left: #ddd 1px solid;padding-bottom: 20px;background-color: #eee;margin: 10px 0px;padding-left: 20px;padding-right: 20px;border-top: #ddd 1px solid;border-right: #ddd 1px solid;padding-top: 20px;font-family: "
                             Arial
                        ", "Microsoft YaHei" , "黑体" , "宋体" , sans-serif;">
                        测试数据：我浑浑噩噩走过二十年， 做过天上仙， 受过万人谴， 以为甘甜苦楚全都尝过遍。 只有你回首一眼， 才知这是人间。 我浑浑噩噩走过二十年， 做过天上仙， 受过万人谴，
                        以为甘甜苦楚全都尝过遍。 只有你回首一眼， 才知这是人间。 我浑浑噩噩走过二十年， 做过天上仙， 受过万人谴， 以为甘甜苦楚全都尝过遍。 只有你回首一眼， 才知这是人间。
                        我浑浑噩噩走过二十年， 做过天上仙， 受过万人谴， 以为甘甜苦楚全都尝过遍。 只有你回首一眼， 才知这是人间。

                    </div>
                    <p>收到了来自<span style="color:rgb(246, 214, 175)">Slcp</span>的回复：</p>
                    <div style="border-bottom: #ddd 1px solid;border-left: #ddd 1px solid;padding-bottom: 20px;background-color: #eee;margin: 15px 0px;padding-left: 20px;padding-right: 20px;border-top: #ddd 1px solid;border-right: #ddd 1px solid;padding-top: 20px;font-family: "
                         Arial
                    ", "Microsoft YaHei" , "黑体" , "宋体" , sans-serif;">
                    我浑浑噩噩走过二十年， 做过天上仙， 受过万人谴， 以为甘甜苦楚全都尝过遍。 只有你回首一眼， 才知这是人间。 我浑浑噩噩走过二十年， 做过天上仙， 受过万人谴， 以为甘甜苦楚全都尝过遍。
                    只有你回首一眼， 才知这是人间。 我浑浑噩噩走过二十年， 做过天上仙， 受过万人谴， 以为甘甜苦楚全都尝过遍。 只有你回首一眼， 才知这是人间。 我浑浑噩噩走过二十年， 做过天上仙， 受过万人谴，
                    以为甘甜苦楚全都尝过遍。 只有你回首一眼， 才知这是人间。
                </div>
                <!--放入滑动的div中，尾部显示则整体放下去一个div-->
                <div style="text-align: center;margin-top: 40px;"><img
                        src="https://ae01.alicdn.com/kf/U0968ee80fd5c4f05a02bdda9709b041eE.png" alt="hr"
                        style="width:100%; margin:5px auto 5px auto; display: block;"/><a
                        style="text-transform: uppercase;text-decoration: none;font-size: 17px;border: 2px solid #6c7575;color: #2f3333;padding: 10px;display: inline-block;margin: 10px auto 0;background-color: rgb(246, 214, 175);"
                        target="_blank" href="#">2020年5月20号</a>
                </div>
                <p style="font-size: 12px;text-align: center;color: #999;">你若盛开,Slcp自来！<br><a
                        style="text-decoration:none; color:rgb(30,171,234)" href="http://www.qingfenginn.top">
                    @ Slcpの时光屋</a>
                </p>

            </div>

        </form>
    </div>
</div>
<!--</form>-->
</div>
<img src="https://cdn.jsdelivr.net/gh/Akilarlxh/Valine-Admin@v1.0/source/img/after.png" alt="after"
     style="      position: absolute;bottom: -2px;left: 0;background-repeat: no-repeat;width: 530px;height: 259px;z-index:100">
</div>
</div>
</body>


</body>
</html>