<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content="www.Slcp.top" />
    <meta name="robots" content="all" />
    <title>音乐室 | Slcp</title>
    <head th:replace="~{common :: .head}"></head>
    <link rel="stylesheet" href="../static/css/blog.min.css" th:href="@{/css/blog.min.css}">
    <link rel="stylesheet" href="../static/lib/music/css/zplayer.min.css" th:href="@{/lib/music/css/zplayer.min.css}"/>
    <script type="text/javascript" src="../static/lib/music/js/zplayer.min.js"
            th:src="@{/lib/music/js/zplayer.min.js}"></script>
    <link rel="stylesheet" href="../static/css/SLAnimation.min.css" th:href="@{/css/SLAnimation.min.css}">
</head>
<body>
<div th:replace="~{common :: .top}"></div>
<div class="bg-cover pd-header about-cover" style="background-image: url(https://img.slcp.top/music.jpg)">
    <div data-aos="fade-left" class="link-tag hide-on-med-and-down">
        <div class="V-title">
            <span>"Music"</span>
        </div>
    </div>
    <div class="center-align link-typed">
        <span id="subtitle" style="font-size: 28px;"></span>
    </div>
    <div class="hide-on-med-and-down V-img-link"
         data-aos="fade-right">
        <div class="V-title">
            <span>"Slcp"</span>
        </div>
    </div>
</div>
<main class="content">
    <div id="tags" class="container chip-container">
        <div class="card">
            <div class="card-content">
                <div class="center-align">
                    <div class="V-title V-title-top">
                        <span><i class="fa fa-music"></i></span><span>&nbsp;&nbsp;音乐室❧</span>
                    </div>
                </div>
                <hr data-aos="fade-right">
                <div style="height: 20px"></div>
                <div class="mainV hide-on-med-and-down piano-message aos-init aos-animate" data-aos="fade-left" style="top: -22px;left: 160px;height: 100px;z-index: 2;">
                    <div th:include="~{common :: .piano}"></div>
                </div>
                <div style="height: 30px"></div>
                <div class="tag-chips">
                    <div class="ui m-margin- m-opacity" align="center">
                        <div class="ui container box-shadow-max">
                            <div id="player2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<div th:include="~{common :: .floor}"></div>
<div th:replace="~{common :: .floor-js}"></div>
<script src="../static/lib/timeline/timeline.js" th:src="@{/lib/timeline/timeline.js}"></script>
<script>
    $('.monthToggle').click(function () {
        $(this).parent('h3').siblings('ul').slideToggle('slow');
        $(this).siblings('i').toggleClass('fa-caret-down fa-caret-right');
    });
    $('.yearToggle').click(function () {
        $(this).parent('h2').siblings('.timeline-month').slideToggle('slow');
        $(this).siblings('i').toggleClass('fa-caret-down fa-caret-right');
    });
    var zp2 = new zplayer({
        element: document.getElementById("player2"),
        autoPlay: 1,/*是否开启自动播放,默认false*/
        lrcStart: 1,/*是否开启歌词功能 ，默认false（为true时musics集合中需要传入lrc字段。）*/
        musics: [
            {
                title: "梦灯笼",
                author: "千陵安浅",
                url: "http://img.qingfenginn.top/%E6%A2%A6%E7%81%AF%E7%AC%BC-%E5%8D%83%E9%99%B5%E5%AE%89%E6%B5%85.mp3",
                pic: "http://p1.music.126.net/DSTg1dR7yKsyGq4IK3NL8A==/109951163046050093.jpg?param=300x300",
                lrc: "[00:00.000] 作词 : ky2651\n" +
                    "[00:01.000] 作曲 : RADWIMPS\n" +
                    "[00:08.00]改编：大博Cola\n" +
                    "[00:12.00]\n" +
                    "[00:14.29]如果天际存在世间的彼岸\n" +
                    "[00:20.78]想要传递的话语\n" +
                    "[00:23.22]是否能乘着风到达云端\n" +
                    "[00:27.67]穿越夕阳在时空交错的傍晚\n" +
                    "[00:33.10]\n" +
                    "[00:33.95]不知该从何处开始的交谈\n" +
                    "[00:37.29]但只需有你在我身边陪伴\n" +
                    "[00:40.84]紧握双手开始将心意交换\n" +
                    "[00:43.97]笔尖流出你的姓名与约定\n" +
                    "[00:50.90]\n" +
                    "[00:52.00]向神明许愿会成真的谎话\n" +
                    "[00:55.99]恐怕我也曾天真地相信吧\n" +
                    "[00:59.38]或者这样阐述吧\n" +
                    "[01:01.88]有放不下的愿望\n" +
                    "[01:03.57]和舍不得的人吗\n" +
                    "[01:05.11]\n" +
                    "[01:05.47]跨越漫长雨夜\n" +
                    "[01:07.41]而在清晨迎来的彩虹\n" +
                    "[01:09.98]从两端找寻七色光的朦胧\n" +
                    "[01:13.15]倾力奔向生命之终\n" +
                    "[01:15.75]执迷不悟地追求\n" +
                    "[01:17.49]年少时已遗忘的梦\n" +
                    "[01:22.03]\n" +
                    "[01:26.32]攀登世间万物未曾到达的高峰\n" +
                    "[01:33.02]超越所谓宿命无法触及的时空\n" +
                    "[01:39.01]\n" +
                    "[01:39.15]就算被更高的维度戏弄\n" +
                    "[01:42.49]也不会遗忘相遇时的风\n" +
                    "[01:46.63]\n" +
                    "[01:46.88]请与我一起期待\n" +
                    "[01:48.47]初次的相逢\n" +
                    "[01:52.53]\n" +
                    "[01:53.63]两人间的暗号\n" +
                    "[01:55.28]是你的名字哟\n"
            },
            {
                title: "迷失幻境",
                author: "IN-K/王忻辰",
                url: "http://img.qingfenginn.top/%E8%BF%B7%E5%A4%B1%E5%B9%BB%E5%A2%83-%E7%8E%8B.mp3",
                pic: "http://p2.music.126.net/64oU_90n8lR7pEJ_dExIPw==/109951163903238311.jpg?param=300y300",
                lrc: "[id:$00000000]\n" +
                    "[ar:IN-K、王忻辰]\n" +
                    "[ti:迷失幻境]\n" +
                    "[by:]\n" +
                    "[hash:54d9db590cfb34eae27dc674a2bbe154]\n" +
                    "[al:]\n" +
                    "[sign:]\n" +
                    "[qq:]\n" +
                    "[total:156682]\n" +
                    "[offset:0]\n" +
                    "[00:00.10]IN-K、王忻辰 - 迷失幻境\n" +
                    "[00:01.11]作词：IN-K\n" +
                    "[00:01.72]作曲：IN-K\n" +
                    "[00:02.39]编曲：IN-K\n" +
                    "[00:03.17]制作人：安苏羽\n" +
                    "[00:04.28]OP：音炬文化\n" +
                    "[00:05.12]『酷狗音乐人 • 星曜计划』\n" +
                    "[00:07.00]全方位推广，见证星力量！\n" +
                    "[00:08.89]加入：musician@kugou.net\n" +
                    "[00:09.52]----------------------------------\n" +
                    "[00:17.61]镜子里的宇宙\n" +
                    "[00:19.44]等不来的迁就\n" +
                    "[00:21.44]还记得那个深秋\n" +
                    "[00:23.61]你说你要走\n" +
                    "[00:25.50]不知道怎么去挽留\n" +
                    "[00:27.61]已逐渐流失的温柔\n" +
                    "[00:29.66]是我犯下的错\n" +
                    "[00:31.66]让你被别人带走\n" +
                    "[00:33.88]还留着你的回忆\n" +
                    "[00:35.83]分不清南北东西\n" +
                    "[00:37.89]我真的不想从此\n" +
                    "[00:39.89]迷失在这幻境\n" +
                    "[00:41.94]关掉了我的手机\n" +
                    "[00:44.11]了无音信的短讯\n" +
                    "[00:46.11]我真的好想\n" +
                    "[00:47.72]能够回到过去\n" +
                    "[00:50.23]没来得及说抱歉\n" +
                    "[00:52.40]你已经不在身边\n" +
                    "[00:54.53]我却彻夜想念\n" +
                    "[00:58.34]走不出自责空间\n" +
                    "[01:00.67]沉溺于我们昨天\n" +
                    "[01:02.84]还能不能相见\n" +
                    "[01:07.35]镜子里的宇宙\n" +
                    "[01:09.07]等不来的迁就\n" +
                    "[01:11.07]还记得那个深秋\n" +
                    "[01:13.18]你说你要走\n" +
                    "[01:15.16]不知道怎么去挽留\n" +
                    "[01:17.16]已逐渐流失的温柔\n" +
                    "[01:19.33]是我犯下的错\n" +
                    "[01:21.33]让你被别人带走\n" +
                    "[01:23.44]还留着你的回忆\n" +
                    "[01:25.44]分不清南北东西\n" +
                    "[01:27.55]我真的不想从此\n" +
                    "[01:29.49]迷失在这幻境\n" +
                    "[01:31.55]关掉了我的手机\n" +
                    "[01:33.72]了无音信的短讯\n" +
                    "[01:35.83]我真的好想\n" +
                    "[01:37.39]能够回到过去\n" +
                    "[01:39.78]没来得及说抱歉\n" +
                    "[01:42.00]你已经不在身边\n" +
                    "[01:44.11]我却彻夜想念\n" +
                    "[01:47.84]走不出自责空间\n" +
                    "[01:50.29]沉溺于我们昨天\n" +
                    "[01:52.40]还能不能相见\n" +
                    "[01:56.45]没来得及说抱歉\n" +
                    "[01:58.61]你已经不在身边\n" +
                    "[02:00.67]我却彻夜想念\n" +
                    "[02:04.50]走不出自责空间\n" +
                    "[02:06.84]沉溺于我们昨天\n" +
                    "[02:09.00]还能不能相见\n"
            },
            {
                title: "执迷不悟",
                author: "鱿籽酱",
                url: "http://img.qingfenginn.top/%E6%89%A7%E8%BF%B7%E4%B8%8D%E6%82%9F-%E9%B1%BF%E7%B1%BD%E9%85%B1.mp3",
                pic: "http://p2.music.126.net/_P71psYXWlTrEWEuyyN7QA==/109951163770392080.jpg?param=300y300",
                lrc: "[00:15.445]想你的夜里 眼里起雾\n" +
                    "[00:18.787]对话变得迟疑才 记起哭\n" +
                    "[00:22.728]起初我试着拒绝 勉强认输\n" +
                    "[00:25.940]开口的挽留变成了祝福\n" +
                    "[00:30.011]曾经的不安都被我保护\n" +
                    "[00:33.243]那些夜里陪你走过的路\n" +
                    "[00:37.277]人海中你们背影 渐渐清楚\n" +
                    "[00:40.486]我在原地 怔住了脚步\n" +
                    "[00:44.672]我爱你又何止 是执迷不悟\n" +
                    "[00:47.290]谎言让回忆没有退路\n" +
                    "[00:51.021]所以会糊里糊涂 将爱满布\n" +
                    "[00:55.007]就算最后失去了全部\n" +
                    "[00:59.146]我爱你又何止 是执迷不悟\n" +
                    "[01:01.774]所有你的喜好记得清楚\n" +
                    "[01:05.456]庸人自扰的深处 狼狈结束\n" +
                    "[01:09.555]怎么对得起我所有付出\n" +
                    "[01:28.257]想你的夜里 眼里起雾\n" +
                    "[01:31.358]对话变得迟疑才 记起哭\n" +
                    "[01:35.456]起初我试着拒绝 勉强认输\n" +
                    "[01:38.660]开口的挽留变成了祝福\n" +
                    "[01:42.694]曾经的不安都被我保护\n" +
                    "[01:45.879]那些夜里陪你走过的路\n" +
                    "[01:50.013]人海中你们背影 渐渐清楚\n" +
                    "[01:53.181]我在原地 怔住了脚步\n" +
                    "[01:57.301]我爱你又何止 是执迷不悟\n" +
                    "[01:59.973]谎言让回忆没有退路\n" +
                    "[02:03.760]所以会糊里糊涂 将爱满布\n" +
                    "[02:07.747]就算最后失去了全部\n" +
                    "[02:11.872]我爱你又何止 是执迷不悟\n" +
                    "[02:14.623]所有你的喜好记得清楚\n" +
                    "[02:18.241]庸人自扰的深处 狼狈结束\n" +
                    "[02:22.296]怎么对得起我所有付出\n" +
                    "[02:28.173]我爱你又何止 是执迷不悟\n" +
                    "[02:30.906]谎言让回忆没有退路\n" +
                    "[02:34.544]所以会糊里糊涂 将爱满布\n" +
                    "[02:38.643]就算最后失去了全部\n" +
                    "[02:42.649]我爱你又何止 是执迷不悟\n" +
                    "[02:45.361]所有你的喜好记得清楚\n" +
                    "[02:49.081]庸人自扰的深处 狼狈结束\n" +
                    "[02:53.163]怎么对得起我所有付出\n"
            },

            {
                title: "我从崖边跌落",
                author: "谢春花",
                url: "http://music.163.com/song/media/outer/url?id=415086030.mp3",
                pic: "http://p2.music.126.net/Eg4cy0_HIF2nrX2gMCsWkQ==/17967119509636556.jpg?param=300y300",
                lrc: "[00:00.000] 作曲 : 谢春花\n" +
                    "[00:01.000] 作词 : 谢春花\n" +
                    "[00:03.48]编曲：小皮\n" +
                    "[00:04.04]我从崖边跌落\n" +
                    "[00:06.49]落入星空辽阔\n" +
                    "[00:08.96]银河不清不浊\n" +
                    "[00:11.33]不知何以摆脱\n" +
                    "[00:13.72]我从崖边跌落\n" +
                    "[00:16.13]落入丛山万座\n" +
                    "[00:18.54]呼声不烈不弱\n" +
                    "[00:20.96]梦门何故紧锁\n" +
                    "[00:26.78]谁引我入明火\n" +
                    "[00:29.00]谁推我入筐箩\n" +
                    "[00:31.44]谁割去我耳朵\n" +
                    "[00:33.85]谁圈我以绳索\n" +
                    "[00:36.17]谁耻笑我执着\n" +
                    "[00:38.60]谁把岁月蹉跎\n" +
                    "[00:41.00]谁碾碎了泡沫\n" +
                    "[00:43.74]谁心已成魔\n" +
                    "[00:49.76]撕破 我从崖边跌落\n" +
                    "[00:59.26]为何 是梦还是解脱\n" +
                    "[01:09.00]我从崖边跌落\n" +
                    "[01:11.32]落入星空辽阔\n" +
                    "[01:13.77]银河不清不浊\n" +
                    "[01:16.13]不知何以摆脱\n" +
                    "[01:18.55]我从崖边跌落\n" +
                    "[01:20.97]落入丛山万座\n" +
                    "[01:23.40]呼声不烈不弱\n" +
                    "[01:25.74]梦门何故紧锁\n" +
                    "[01:53.12]谁低头只沉默\n" +
                    "[01:55.34]谁迟疑难定夺\n" +
                    "[01:57.67]谁把美梦捕捉\n" +
                    "[01:59.99]谁将画卷涂抹\n" +
                    "[02:02.43]谁结束这折磨\n" +
                    "[02:04.67]谁轻柔的抚摸\n" +
                    "[02:07.08]谁纵身入湖泊\n" +
                    "[02:09.56]换温暖魂魄\n" +
                    "[02:15.44]我从崖边跌落\n" +
                    "[02:17.79]落入星空辽阔\n" +
                    "[02:20.15]银河不清不浊\n" +
                    "[02:22.47]不知何以摆脱\n" +
                    "[02:24.79]我从崖边跌落\n" +
                    "[02:27.12]落入丛山万座\n" +
                    "[02:29.47]呼声不烈不弱\n" +
                    "[02:31.78]梦门何故\n" +
                    "[02:36.57]我从崖边跌落\n" +
                    "[02:38.81]落入星空辽阔\n" +
                    "[02:41.11]银河不清不浊\n" +
                    "[02:43.42]不知何以摆脱\n" +
                    "[02:45.78]我从崖边跌落\n" +
                    "[02:48.08]落入丛山万座\n" +
                    "[02:50.47]呼声不烈不弱\n" +
                    "[02:52.75]梦门何故紧锁\n" +
                    "[03:01.22]谁引我入明火\n" +
                    "[03:04.17]谁推我入筐箩\n" +
                    "[03:07.09]谁把美梦捕捉\n" +
                    "[03:10.20]谁心已成魔\n" +
                    "[03:18.80]"
            }, {
                title: "苏幕遮",
                author: "一条小团团ovo",
                url: "http://img.qingfenginn.top/%E8%8B%8F%E5%B9%95%E9%81%AE-%E4%B8%80%E6%9D%A1%E5%B0%8F%E5%9B%A2%E5%9B%A2.mp3",
                pic: "http://p1.music.126.net/DSTg1dR7yKsyGq4IK3NL8A==/109951163046050093.jpg?param=300x300",
                lrc: "[id:$00000000]\n" +
                    "[ar:一条小团团ovo]\n" +
                    "[ti:苏幕遮]\n" +
                    "[by:-_]\n" +
                    "[hash:26fdebb01987cb9de2be3b28fb5ffbb3]\n" +
                    "[al:]\n" +
                    "[sign:]\n" +
                    "[qq:]\n" +
                    "[total:197042]\n" +
                    "[offset:0]\n" +
                    "[00:00.00]一条小团团ovo - 苏幕遮\n" +
                    "[00:06.76]原唱：张晓棠\n" +
                    "[00:09.82]作词：边疆\n" +
                    "[00:12.34]作曲：金志文\n" +
                    "[00:22.42]薄汗轻衣\n" +
                    "[00:23.36]点缀这泼墨画山水\n" +
                    "[00:26.16]慵整纤纤手叫洛阳纸贵\n" +
                    "[00:30.12]可怜落花叩玉枕\n" +
                    "[00:34.15]拂袖人还昏睡\n" +
                    "[00:38.39]清风微寒\n" +
                    "[00:39.30]惹一厢粉黛又愁眉\n" +
                    "[00:42.01]对镜梳妆探听人声鼎沸\n" +
                    "[00:46.06]多情自是多沾惹\n" +
                    "[00:50.12]梦断不成归\n" +
                    "[00:53.55]锦瑟无端声悔\n" +
                    "[00:55.11]赢得满行泪\n" +
                    "[00:57.42]直道君心不美\n" +
                    "[00:59.12]日夜东流水\n" +
                    "[01:06.16]半江信半江愁\n" +
                    "[01:09.60]觥筹恍惚交杯\n" +
                    "[01:11.05]劝留几小辈\n" +
                    "[01:13.45]棋逢红颜一醉\n" +
                    "[01:15.07]千军万马退\n" +
                    "[01:23.69]饮曲肝肠碎\n" +
                    "[01:30.40]清风微寒\n" +
                    "[01:31.37]惹一厢粉黛又愁眉\n" +
                    "[01:34.21]对镜梳妆探听人声鼎沸\n" +
                    "[01:38.03]多情自是多沾惹\n" +
                    "[01:42.15]梦断不成归 几分憔悴\n" +
                    "[01:46.34]秋色连波波上寒烟翠\n" +
                    "[01:49.66]山映斜阳天水傍\n" +
                    "[01:52.17]芳草无情 更在斜阳外\n" +
                    "[02:01.53]夜夜好梦留人睡\n" +
                    "[02:07.18]楼高休独倚\n" +
                    "[02:10.92]酒入谁人愁肠\n" +
                    "[02:14.09]化作相思泪\n" +
                    "[02:21.45]锦瑟无端声悔\n" +
                    "[02:23.10]赢得满行泪\n" +
                    "[02:25.38]直道君心不美\n" +
                    "[02:27.07]日夜东流水\n" +
                    "[02:34.20]半江信半江愁\n" +
                    "[02:37.61]觥筹恍惚交杯\n" +
                    "[02:39.06]劝留几小辈\n" +
                    "[02:41.41]棋逢红颜一醉\n" +
                    "[02:43.09]千军万马退\n" +
                    "[02:51.52]饮曲肝肠碎\n"
            },

            {
                title: "大天蓬",
                author: "清水er",
                url: "http://img.qingfenginn.top/%E5%A4%A7%E5%A4%A9%E8%93%AC-%E6%B8%85%E6%B0%B4er.mp3",
                pic: "http://p1.music.126.net/j_MOk-u1iEtYWHs-QId41Q==/109951163703802494.jpg?param=300y300",
                lrc: "[id:$00000000]\n" +
                    "[ar:清水er]\n" +
                    "[ti:大天蓬 (女生版)]\n" +
                    "[by:]\n" +
                    "[hash:665f31ed8ce940b2101b64ff8307a59b]\n" +
                    "[al:]\n" +
                    "[sign:]\n" +
                    "[qq:]\n" +
                    "[total:215379]\n" +
                    "[offset:0]\n" +
                    "[00:00.07]清水er - 大天蓬 (女生版)\n" +
                    "[00:00.81]作词：宋雪苍、李袁杰\n" +
                    "[00:01.07]作曲：李袁杰\n" +
                    "[00:01.27]编曲：刘苏州\n" +
                    "[00:01.37]混音：刘苏州\n" +
                    "[00:01.52]制作人：刘子睦\n" +
                    "[00:01.72]企划人：王烨扬\n" +
                    "[00:01.93]监制：刘凯\n" +
                    "[00:02.03]发行人：桑爱\n" +
                    "[00:02.13]出品人：桑爱、刘凯\n" +
                    "[00:02.33]发行方：北京看见文娱文化有限公司\n" +
                    "[00:02.79]出品方：北京看见文娱文化有限公司\n" +
                    "[00:15.38]美人不是凡胎生\n" +
                    "[00:21.62]应是仙器灵长成\n" +
                    "[00:28.05]既然你是神兵\n" +
                    "[00:31.20]为何比我更多情\n" +
                    "[00:35.30]深深伤的却是你\n" +
                    "[00:40.88]六曜五星配红妆\n" +
                    "[00:47.23]此生虽短情意长\n" +
                    "[00:53.62]惹得天怒地也恼\n" +
                    "[00:56.82]人间再无红颜笑\n" +
                    "[01:00.52]留一半相思上大道 \n" +
                    "[01:06.19]怕什么天道轮回\n" +
                    "[01:09.64]什么魄散魂飞\n" +
                    "[01:13.14]若没有你那才叫可悲\n" +
                    "[01:18.82]怕什么西行无归\n" +
                    "[01:22.42]什么事与愿违\n" +
                    "[01:25.92]这一世换我护你一对\n" +
                    "[01:57.64]六曜五星配红妆\n" +
                    "[02:03.98]此生虽短情意长\n" +
                    "[02:10.41]惹得天怒地也恼\n" +
                    "[02:13.61]人间再无红颜笑\n" +
                    "[02:17.36]留一半相思上大道\n" +
                    "[02:22.99]怕什么天道轮回\n" +
                    "[02:26.39]什么魄散魂飞\n" +
                    "[02:30.19]若没有你那才叫可悲\n" +
                    "[02:35.56]怕什么西行无归\n" +
                    "[02:39.27]什么事与愿违\n" +
                    "[02:42.87]这一世换我护你一对\n" +
                    "[02:48.50]怕什么天道轮回\n" +
                    "[02:51.94]什么魄散魂飞\n" +
                    "[02:55.54]若没有你那才叫可悲\n" +
                    "[03:01.22]怕什么西行无归\n" +
                    "[03:04.81]什么事与愿违\n" +
                    "[03:08.31]这一世换我护你一对\n" +
                    "[03:14.76]这一世换我护你一对\n"

            }, {
                title: "笑纳",
                author: "花僮",
                url: "http://img.qingfenginn.top/%E7%AC%91%E7%BA%B3-%E8%8A%B1%E5%83%AE.mp3",
                pic: "http://p1.music.126.net/ssXglUifx_l0Ncv6dORQWQ==/109951163402130495.jpg?param=300y300",
                lrc: "[id:$00000000]\n" +
                    "[ar:花僮]\n" +
                    "[ti:笑纳]\n" +
                    "[by:]\n" +
                    "[hash:580c7d6c8ee52dd5344d7dfde227aa11]\n" +
                    "[al:]\n" +
                    "[sign:]\n" +
                    "[qq:]\n" +
                    "[total:272744]\n" +
                    "[offset:0]\n" +
                    "[00:00.19]花僮 - 笑纳\n" +
                    "[00:00.40]作词：周仁\n" +
                    "[00:00.62]作曲：古月\n" +
                    "[00:00.83]编曲：韩珂\n" +
                    "[00:00.97]和声：韩珂\n" +
                    "[00:01.18]混音：CuTTleFiSh\n" +
                    "[00:01.33]监制：古月\n" +
                    "[00:01.47]制作人：花僮\n" +
                    "[00:01.75]出品人：米奇\n" +
                    "[00:01.97]OP：星汉马文化\n" +
                    "[00:02.25]『酷狗音乐人 • 星曜计划』\n" +
                    "[00:02.25]全方位推广，见证星力量！\n" +
                    "[00:02.25]加入：musician@kugou.net\n" +
                    "[00:02.25]----------------------------------\n" +
                    "[00:15.78]挑灯看遍长街的繁华\n" +
                    "[00:19.03]白胡子老者 临摹入画\n" +
                    "[00:22.38]一番寒暄 附和月色无暇\n" +
                    "[00:25.54]忽然清风 惹一池落花\n" +
                    "[00:28.63]三两知己结伴的仲夏\n" +
                    "[00:31.96]夜市闹三更 不想回家\n" +
                    "[00:35.22]星光洒落 老树的枝丫\n" +
                    "[00:38.40]马蹄浅浅 落一身风沙\n" +
                    "[00:42.04]撑伞接落花\n" +
                    "[00:44.59]看那西风骑瘦马\n" +
                    "[00:47.84]谁能为我一眼望穿流霞\n" +
                    "[00:51.82]公子是你吗\n" +
                    "[00:54.29]前面深山谁人家\n" +
                    "[00:57.48]暮夜抚一曲琵琶\n" +
                    "[01:00.66]我欲提笔为汝一幅画\n" +
                    "[01:04.77]佳人请笑纳\n" +
                    "[01:08.16]撑伞接落花\n" +
                    "[01:10.50]看那西风骑瘦马\n" +
                    "[01:13.83]谁能为我熬一缕青发\n" +
                    "[01:17.80]那人是你吗\n" +
                    "[01:20.28]谁在窃语谱情话\n" +
                    "[01:23.47]红尘故事在牵挂\n" +
                    "[01:26.72]夜风微凉烛影暖心啊\n" +
                    "[01:30.61]我悠歌把月光请笑纳\n" +
                    "[02:02.81]挑灯看遍长街的繁华\n" +
                    "[02:06.00]白胡子老者 临摹入画\n" +
                    "[02:09.46]一番寒暄 附和月色无暇\n" +
                    "[02:12.64]忽然清风 惹一池落花\n" +
                    "[02:15.76]三两知己结伴的仲夏\n" +
                    "[02:18.94]夜市闹三更 不想回家\n" +
                    "[02:22.20]星光洒落 老树的枝丫\n" +
                    "[02:25.53]马蹄浅浅 落一身风沙\n" +
                    "[02:29.07]撑伞接落花\n" +
                    "[02:31.48]看那西风骑瘦马\n" +
                    "[02:35.09]谁能为我一眼望穿流霞\n" +
                    "[02:38.85]公子是你吗\n" +
                    "[02:41.32]前面深山谁人家\n" +
                    "[02:44.51]暮夜抚一曲琵琶\n" +
                    "[02:47.77]我欲提笔为汝一幅画\n" +
                    "[02:51.81]佳人请笑纳\n" +
                    "[02:55.25]撑伞接落花\n" +
                    "[02:57.44]看那西风骑瘦马\n" +
                    "[03:00.77]谁能为我熬一缕青发\n" +
                    "[03:04.81]那人是你吗\n" +
                    "[03:07.22]谁在窃语谱情话\n" +
                    "[03:10.47]红尘故事在牵挂\n" +
                    "[03:13.65]夜风微凉烛影暖心啊\n" +
                    "[03:17.69]我悠歌把月光请笑纳\n" +
                    "[03:21.12]撑伞接落花\n" +
                    "[03:23.45]看那西风骑瘦马\n" +
                    "[03:26.72]谁能为我一眼望穿流霞\n" +
                    "[03:30.68]公子是你吗\n" +
                    "[03:33.23]前面深山谁人家\n" +
                    "[03:36.42]暮夜抚一曲琵琶\n" +
                    "[03:39.68]我欲提笔为汝一幅画\n" +
                    "[03:43.64]佳人请笑纳\n" +
                    "[03:47.06]撑伞接落花\n" +
                    "[03:49.40]看那西风骑瘦马\n" +
                    "[03:52.66]谁能为我熬一缕青发\n" +
                    "[03:56.68]那人是你吗\n" +
                    "[03:59.16]谁在窃语谱情话\n" +
                    "[04:02.27]红尘故事在牵挂\n" +
                    "[04:05.60]夜风微凉烛影暖心啊\n" +
                    "[04:09.42]我悠歌把月光请笑纳\n"
            },  {
                title: "惊雷",
                author: "皮卡丘多多",
                url: "http://img.qingfenginn.top/%E6%83%8A%E9%9B%B7-%E7%9A%AE%E5%8D%A1%E4%B8%98%E5%A4%9A%E5%A4%9A.mp3",
                pic: "http://p1.music.126.net/d541jx7SqoDzVkenhmtg6g==/19193074974743620.jpg?param=300y300",
                lrc: "[id:$00000000]\n" +
                    "[ar:皮卡丘多多]\n" +
                    "[ti:惊雷]\n" +
                    "[by:]\n" +
                    "[hash:8801fd4755032a1c64f04e4cc3b36ca7]\n" +
                    "[al:]\n" +
                    "[sign:]\n" +
                    "[qq:]\n" +
                    "[total:219219]\n" +
                    "[offset:0]\n" +
                    "[00:00.87]皮卡丘多多 - 惊雷\n" +
                    "[00:02.20]作词：王中易\n" +
                    "[00:02.98]作曲：王中易\n" +
                    "[00:04.04]编曲：王中易\n" +
                    "[00:04.81]和声：涵木之\n" +
                    "[00:05.63]混音：王宇呈\n" +
                    "[00:06.45]统筹：锦书\n" +
                    "[00:07.07]Op：嗨库文化\n" +
                    "[00:07.89](未经著作权人许可，不得翻唱、翻录或使用)\n" +
                    "[00:17.44]惊雷\n" +
                    "[00:18.15]通天修为天塌地陷紫金锤\n" +
                    "[00:20.81]紫电\n" +
                    "[00:21.22]玄真火焰九天玄剑惊天变\n" +
                    "[00:24.21]乌云\n" +
                    "[00:24.92]那驰骋沙场呼啸烟雨顿\n" +
                    "[00:27.35]多情自古空余恨\n" +
                    "[00:29.08]手持弯月刃\n" +
                    "[00:31.23]惊雷\n" +
                    "[00:31.89]气吞山河功名利禄在人间\n" +
                    "[00:34.75]紫电\n" +
                    "[00:35.41]九宫八卦杀伐藏于天地间\n" +
                    "[00:38.21]乌云\n" +
                    "[00:38.88]那玄天八卦万物烟消中\n" +
                    "[00:41.32]笑看红尘人世间\n" +
                    "[00:43.05]手持弯月刃\n" +
                    "[00:45.24]君故见烽烟起\n" +
                    "[00:48.72]遥望江山叹息\n" +
                    "[00:51.74]看这天下狼烟四起\n" +
                    "[00:59.13]君故闻角声里\n" +
                    "[01:02.68]夜阑独卧听风听雨\n" +
                    "[01:06.04]惊雷一声长啸震铁衣\n" +
                    "[01:13.06]惊雷\n" +
                    "[01:13.68]通天修为天塌地陷紫金锤\n" +
                    "[01:16.62]紫电\n" +
                    "[01:17.28]玄真火焰九天玄剑惊天变\n" +
                    "[01:19.99]乌云\n" +
                    "[01:20.65]那驰骋沙场呼啸烟雨顿\n" +
                    "[01:23.15]多情自古空余恨\n" +
                    "[01:24.73]手持弯月刃\n" +
                    "[01:26.97]惊雷\n" +
                    "[01:27.58]气吞山河功名利禄在人间\n" +
                    "[01:30.34]紫电\n" +
                    "[01:31.05]九宫八卦杀伐藏于天地间\n" +
                    "[01:34.08]乌云\n" +
                    "[01:34.60]那玄天八卦万物烟消中\n" +
                    "[01:36.94]笑看红尘\n" +
                    "[01:54.87]君故见烽烟起\n" +
                    "[01:58.19]遥望江山叹息\n" +
                    "[02:01.34]看这天下狼烟四起\n" +
                    "[02:08.68]君故闻角声里\n" +
                    "[02:12.14]夜阑独卧听风听雨\n" +
                    "[02:15.61]惊雷一声长啸震铁衣\n" +
                    "[02:22.58]惊雷\n" +
                    "[02:23.30]通天修为天塌地陷紫金锤\n" +
                    "[02:26.10]紫电\n" +
                    "[02:26.71]玄真火焰九天玄剑惊天变\n" +
                    "[02:29.52]乌云\n" +
                    "[02:30.18]那驰骋沙场呼啸烟雨顿\n" +
                    "[02:32.78]多情自古空余恨\n" +
                    "[02:34.36]手持弯月刃\n" +
                    "[02:36.51]惊雷\n" +
                    "[02:37.17]气吞山河功名利禄在人间\n" +
                    "[02:39.98]紫电\n" +
                    "[02:40.59]九宫八卦杀伐藏于天地间\n" +
                    "[02:43.40]乌云\n" +
                    "[02:44.07]那玄天八卦万物烟消中\n" +
                    "[02:46.50]笑看红尘\n" +
                    "[02:50.41]惊雷\n" +
                    "[02:51.02]通天修为天塌地陷紫金锤\n" +
                    "[02:53.88]紫电\n" +
                    "[02:54.49]玄真火焰九天玄剑惊天变\n" +
                    "[02:57.17]乌云\n" +
                    "[02:58.10]那驰骋沙场呼啸烟雨顿\n" +
                    "[03:00.59]多情自古空余恨\n" +
                    "[03:02.18]手持弯月刃\n" +
                    "[03:04.32]惊雷\n" +
                    "[03:04.88]气吞山河功名利禄在人间\n" +
                    "[03:07.83]紫电\n" +
                    "[03:08.40]九宫八卦杀伐藏于天地间\n" +
                    "[03:11.26]乌云\n" +
                    "[03:12.12]那玄天八卦万物烟消中\n" +
                    "[03:14.41]笑看红尘\n"
            },  {
                title: "世间美好与你环环相扣",
                author: "柏松",
                url: "http://music.163.com/song/media/outer/url?id=1363948882.mp3",
                pic: "http://p2.music.126.net/DK1_4sP_339o5rowMdPXdw==/109951164071024476.jpg?param=300x300",
                lrc: "[00:00.000] 作曲 : 柏松\n" +
                    "[00:01.000] 作词 : 尹初七\n" +
                    "[00:15.854]编曲：彭圣杰\n" +
                    "[00:28.354]偏偏秉烛夜 游\n" +
                    "[00:31.354]午夜星辰 似奔走之友\n" +
                    "[00:34.854]爱你每个结痂伤口\n" +
                    "[00:37.854]酿成的陈年烈酒\n" +
                    "[00:41.104]\n" +
                    "[00:42.104]入喉尚算可口\n" +
                    "[00:45.103]怎么泪水 还偶尔失守\n" +
                    "[00:48.853]邀你细看心中缺口\n" +
                    "[00:51.353]裂缝中留存 温柔\n" +
                    "[00:56.104]\n" +
                    "[00:57.853]此时已莺飞草长 爱的人正在路上\n" +
                    "[01:02.103]我知他风雨兼程 途经日暮不赏\n" +
                    "[01:05.853]穿越人海 只为与你相拥\n" +
                    "[01:11.853]此刻已皓月当空 爱的人手捧星光\n" +
                    "[01:15.603]我知他乘风破浪 去了黑暗一趟\n" +
                    "[01:19.353]感同身受 给你救赎热 望\n" +
                    "[01:25.602]\n" +
                    "[01:26.353]知道你不能 还要你感受\n" +
                    "[01:30.102]让星光加了一点彩虹\n" +
                    "[01:33.102]让樱花偷偷 吻你额头\n" +
                    "[01:36.853]让世间美好 与你环环相扣\n" +
                    "[01:41.603]\n" +
                    "[01:42.352]此时已莺飞草长 爱的人正在路上\n" +
                    "[01:46.602]我知他风雨兼程 途经日暮不赏\n" +
                    "[01:50.602]穿越人海 只为与你相拥\n" +
                    "[01:56.102]此刻已皓月当空 爱的人手捧星光\n" +
                    "[02:00.102]我知他乘风破浪 去了黑暗一趟\n" +
                    "[02:04.352]感同身受 给你救赎热 望\n" +
                    "[02:09.352]\n" +
                    "[02:09.852]此时已莺飞草长 爱的人正在路上\n" +
                    "[02:13.851]我知他风雨兼程 途经日暮不赏\n" +
                    "[02:18.102]穿越人海 只为与你相拥\n" +
                    "[02:23.602]此刻已皓月当空 爱的人手捧星光\n" +
                    "[02:27.851]我知他乘风破浪 去了黑暗一趟\n" +
                    "[02:31.852]感同身受 给你救赎热 望\n" +
                    "[02:37.352]\n" +
                    "[02:38.601]知道你不能 还要你感受\n" +
                    "[02:41.601]让星光加了一点彩虹\n" +
                    "[02:45.101]当樱花开的纷纷扬扬\n" +
                    "[02:48.602]当世间美好 与你环环相扣\n" +
                    "[02:58.601]特别鸣谢：槿葵，我们的海报制作妹妹。\n" +
                    "[03:05.854]原唱：柏松\n" +
                    "[03:06.355]吉他：柏松\n" +
                    "[03:07.354]和声：柏松\n" +
                    "[03:08.104]录音：柏松\n" +
                    "[03:09.104]混音：张强\n"
            }, {
                title: "大田後生仔",
                author: "丫蛋蛋",
                url: "http://img.qingfenginn.top/%E5%A4%A7%E7%94%B0%E5%BE%8C%E7%94%9F%E4%BB%94-%E4%B8%AB%E8%9B%8B%E8%9B%8B.mp3",
                pic: "http://p1.music.126.net/DSTg1dR7yKsyGq4IK3NL8A==/109951163046050093.jpg?param=300x300",
                lrc: "[00:00.000] 作词 : 林啟得/张伍拾/张文鑫\n" +
                    "[00:01.000] 作曲 : 林啟得\n" +
                    "[00:08.184]做人一辈子\n" +
                    "[00:09.816]快乐没几天\n" +
                    "[00:11.352]一条大路分两边\n" +
                    "[00:13.050]随你要走哪一边\n" +
                    "[00:14.850]不怕不怕就不怕\n" +
                    "[00:16.569]我是年轻人\n" +
                    "[00:18.235]风大雨大太阳大\n" +
                    "[00:19.968]我就是敢打拼\n" +
                    "[00:23.549]我出生的地方叫做大田县\n" +
                    "[00:26.801]县里很多的乡镇\n" +
                    "[00:28.500]他们都很团结\n" +
                    "[00:30.234]东街口的路边\n" +
                    "[00:31.735]有很多奶茶店\n" +
                    "[00:33.700]零零后的同学\n" +
                    "[00:35.233]你不会说方言\n" +
                    "[00:37.166]做人一辈子 快乐没几天\n" +
                    "[00:40.421]一条大路分两边\n" +
                    "[00:42.150]随你要走哪一边\n" +
                    "[00:43.899]不怕不怕就不怕\n" +
                    "[00:45.652]我是年轻人\n" +
                    "[00:47.334]风大雨大太阳大\n" +
                    "[00:49.018]我就是敢打拼\n" +
                    "[00:54.433]呀伊 呀伊哟 呀伊哟喂 呀伊哟\n" +
                    "[01:01.201]呀伊 呀伊哟 呀伊哟喂 呀伊哟\n" +
                    "[01:08.782]原唱：林啟得\n" +
                    "[01:08.986]音乐总监：陈伟伦\n" +
                    "[01:09.169]键盘/乐队总监:韩天赫\n" +
                    "[01:09.301]吉他:劳国贤  董长跃\n" +
                    "[01:09.433]键盘/PGM:洪信杰\n" +
                    "[01:09.583]贝斯  ：张梦斌\n" +
                    "[01:09.716]鼓：Martin Ngim\n" +
                    "[01:09.882]打击乐：胡瑀轩\n" +
                    "[01:10.034]和音/声乐指导：王馨悦\n" +
                    "[01:10.183]和音：鱼椒盐 许一鸣 赵一一\n" +
                    "[01:10.316]统筹:阳燚\n" +
                    "[01:10.466]录音/混音：S·A·G\n"
            },
            {
                title: "多想在平庸的生活拥抱你",
                author: "隔壁老樊",
                url: "http://img.qingfenginn.top/%E5%A4%9A%E6%83%B3%E5%9C%A8%E5%B9%B3%E5%BA%B8%E7%9A%84%E7%94%9F%E6%B4%BB%E6%8B%A5%E6%8A%B1%E4%BD%A0-%E9%9A%94%E5%A3%81%E8%80%81%E6%A8%8A.mp3",
                pic: "http://p1.music.126.net/DSTg1dR7yKsyGq4IK3NL8A==/109951163046050093.jpg?param=300x300",
                lrc: "[00:00.000] 作词 : 隔壁老樊\n" +
                    "[00:01.000] 作曲 : 隔壁老樊\n" +
                    "[00:07.09]编曲：黄超\n" +
                    "[00:17.67]世界上有很多的东西\n" +
                    "[00:09.07]\n" +
                    "[00:21.36]你生不带来死不带去\n" +
                    "[00:26.01]你能带走的只有自己和自己的脾气\n" +
                    "[00:34.35]你曾拥有最美的爱情\n" +
                    "[00:38.17]你听过最美的旋律\n" +
                    "[00:42.57]触摸过一个人孤独的恐惧\n" +
                    "[00:46.30]也看到过最美的风景\n" +
                    "[00:52.49]我跌跌撞撞奔向你\n" +
                    "[01:00.52]你也不能一个人离去\n" +
                    "[01:08.30]我们在一起说过\n" +
                    "[01:12.50]无论如何一起经历了风雨\n" +
                    "[01:16.64]平平淡淡安安静静的老去\n" +
                    "[01:59.08]世界上有很多的东西\n" +
                    "[01:24.56]\n" +
                    "[02:02.65]你生不带来死不带去\n" +
                    "[02:07.38]你能带走的只有自己和自己的脾气\n" +
                    "[02:15.63]你曾拥有最美的爱情\n" +
                    "[02:19.18]你听过最美的旋律\n" +
                    "[02:24.04]触摸过一个人孤独的恐惧\n" +
                    "[02:27.44]也看到过最美的风景\n" +
                    "[02:34.40]我跌跌撞撞奔向你\n" +
                    "[02:41.76]你也不能一个人离去\n" +
                    "[02:49.58]我们在一起说过\n" +
                    "[02:53.83]无论如何一起经历了风雨\n" +
                    "[02:58.18]平平淡淡安安静静的老去\n" +
                    "[03:38.87]我们拼命的相拥不给孤独留余地\n" +
                    "[03:09.02]\n" +
                    "[03:48.21]无力 是我们最后难免的结局\n" +
                    "[03:56.28]无力 是我们最后难免的结局\n" +
                    "[04:05.59]鼓手：郝稷伦\n" +
                    "[04:06.89]贝斯：韩阳\n" +
                    "[04:07.97]吉他：黄超\n" +
                    "[04:09.21]和声：樊竹青 赵晨\n" +
                    "[04:10.41]录音师：甄浩\n" +
                    "[04:11.41]混音师：段小林\n" +
                    "[04:12.63]插画：王小洋\n" +
                    "[04:13.95]封面：朱小莉\n" +
                    "[04:15.32]录音室：北京好听音乐录音棚\n" +
                    "[04:16.70]出品：北京好听音乐科技有限公司\n" +
                    "[04:18.61]制作人：段小林\n" +
                    "[04:19.61]\n"
            },
            {
                title: "心如止水",
                author: "IcePaper",
                url: "http://img.qingfenginn.top/%E5%BF%83%E5%A6%82%E6%AD%A2%E6%B0%B4IcePaper.mp3",
                pic: "http://p1.music.126.net/DSTg1dR7yKsyGq4IK3NL8A==/109951163046050093.jpg?param=300x300",
                lrc: "[00:00.000] 作词 : Ice Paper\n" +
                    "[00:00.294] 作曲 : Ice Paper\n" +
                    "[00:00.588]编曲：Ice Paper\n" +
                    "[00:00.838]混音：Ice Paper\n" +
                    "[00:00.941]采样：QUIX - Deep Home\n" +
                    "[00:01.042]talking to the moon 放不下的理由\n" +
                    "[00:03.697]是不是会担心 变成一只野兽\n" +
                    "[00:07.957]walking on the roof 为心跳的节奏\n" +
                    "[00:11.214]是不是会暂停 在世界的尽头\n" +
                    "[00:16.225]浸泡在十公升的瓶里\n" +
                    "[00:18.732]单纯想要呼吸 讨厌云里雾里\n" +
                    "[00:23.744]出没在被遗忘的抽屉\n" +
                    "[00:26.250]你曾经的手笔 写着心口不一\n" +
                    "[00:31.264]现在是黑夜白昼我都随便\n" +
                    "[00:35.025]像迷路的天鹅游失在水面\n" +
                    "[00:38.785]尽力去捕捉恶梦里的碎片\n" +
                    "[00:42.544]不需要你的歌来帮我催眠\n" +
                    "[00:45.554]talking to the moon 放不下的理由\n" +
                    "[00:48.813]是不是会担心 变成一只野兽\n" +
                    "[00:53.075]walking on the roof 为心跳的节奏\n" +
                    "[00:56.333]是不是会暂停 在时间的尽头\n" +
                    "[01:00.593]说不完的话 找不完的借口\n" +
                    "[01:03.851]是不是会狠心 把我骄傲解剖\n" +
                    "[01:08.111]爱着谁的她 能否将你接受\n" +
                    "[01:11.370]是不是会上瘾 拜托慢些降落\n" +
                    "[01:15.381]华丽的红房间 发霉的旧唱片\n" +
                    "[01:19.140]没必要听个遍 掉了漆的播放键\n" +
                    "[01:22.900]你情愿冒着险 睡在他的身边\n" +
                    "[01:26.659]没耐心去分辨 谁和谁能够走多远\n" +
                    "[01:30.420]穿过几条街就能找到关键\n" +
                    "[01:34.180]解开我的问题没什么悬念\n" +
                    "[01:37.940]转了几个弯还是回到原点\n" +
                    "[01:41.697]我该如何出现在你的面前\n" +
                    "[01:45.458]talking to the moon 放不下的理由\n" +
                    "[01:48.715]是不是会担心 变成一只野兽\n" +
                    "[01:52.977]walking on the roof 为心跳的节奏\n" +
                    "[01:56.236]是不是会暂停 在时间的尽头\n" +
                    "[02:00.498]说不完的话 找不完的借口\n" +
                    "[02:03.757]是不是会狠心 把我骄傲解剖\n" +
                    "[02:08.020]爱着谁的她 能否将你接受\n" +
                    "[02:11.531]是不是会上瘾 拜托慢些降落\n" +
                    "[02:15.540]talking to the moon 放不下的理由\n" +
                    "[02:18.799]是不是会担心 变成一只野兽\n" +
                    "[02:23.058]walking on the roof 为心跳的节奏\n" +
                    "[02:26.318]是不是会暂停 在时间的尽头\n" +
                    "[02:30.579]说不完的话 找不完的借口\n" +
                    "[02:33.836]是不是会狠心 把我骄傲解剖\n" +
                    "[02:38.099]爱着谁的她 能否将你接受\n" +
                    "[02:41.359]是不是会上瘾 拜托慢些降落\n"
            },{
                title: "想起了你",
                author: "沙粒小姐",
                url: "http://img.qingfenginn.top/%E6%83%B3%E8%B5%B7%E4%BA%86%E4%BD%A0-%E6%B2%99%E7%B2%92%E5%B0%8F%E5%A7%90.mp3",
                pic: "http://p1.music.126.net/DSTg1dR7yKsyGq4IK3NL8A==/109951163046050093.jpg?param=300x300",
                lrc: "[id:$00000000]\n" +
                    "[ar:沙粒小姐]\n" +
                    "[ti:想起了你]\n" +
                    "[by:dongmei_karakal]\n" +
                    "[00:00.00]想起了你 - 沙粒小姐\n" +
                    "[00:04.40]词：胡寒\n" +
                    "[00:05.28]曲：胡寒\n" +
                    "[00:06.09]编曲：杨川云\n" +
                    "[00:07.29]原唱：程响\n" +
                    "[00:08.07]混音：王朋\n" +
                    "[00:08.91]文案：冷小婧\n" +
                    "[00:09.89]海报设计：龙菜籽\n" +
                    "[00:11.41]宣发：刘芳\n" +
                    "[00:12.25]出品人：潘鸿业\n" +
                    "[00:13.55]OP：北京金翼龙国际文化传媒有限公司\n" +
                    "[00:16.57]「此版本为正式授权翻唱作品」\n" +
                    "[00:20.53]你是空 你是空\n" +
                    "[00:22.75]色即是空的空空\n" +
                    "[00:25.04]在劫难逃的情劫\n" +
                    "[00:27.26]愿在你掌心之中\n" +
                    "[00:29.79]你是风 你是风\n" +
                    "[00:32.02]炎热之中的清风\n" +
                    "[00:34.33]让我疯疯疯疯\n" +
                    "[00:36.75]想要爱你爱到天上\n" +
                    "[00:49.17]下起雨想起了你\n" +
                    "[00:51.84]呐呐呐呐\n" +
                    "[00:53.73]夜深时想起了你\n" +
                    "[00:56.46]呐呐呐呐\n" +
                    "[00:58.44]悲伤了想起了你\n" +
                    "[01:01.14]呐呐呐呐\n" +
                    "[01:03.11]失望时 想起了你\n" +
                    "[01:05.95]呐呐呐呐\n" +
                    "[01:16.91]你是空 你是空\n" +
                    "[01:19.07]色即是空的空空\n" +
                    "[01:21.47]在劫难逃的情劫\n" +
                    "[01:23.75]愿在你掌心之中\n" +
                    "[01:26.23]你是风 你是风\n" +
                    "[01:28.49]炎热之中的清风\n" +
                    "[01:30.80]让我疯疯疯疯\n" +
                    "[01:33.26]想要爱你爱到天上\n" +
                    "[01:45.93]下起雨想起了你\n" +
                    "[01:48.14]呐呐呐呐\n" +
                    "[01:50.19]夜深时想起了你\n" +
                    "[01:52.88]呐呐呐呐\n" +
                    "[01:54.79]悲伤了想起了你\n" +
                    "[01:57.67]呐呐呐呐\n" +
                    "[01:59.45]失望时 想起了你\n" +
                    "[02:02.48]呐呐呐呐\n" +
                    "[02:13.15]你是空 你是空\n" +
                    "[02:15.61]色即是空的空空\n" +
                    "[02:17.99]在劫难逃的情劫\n" +
                    "[02:20.26]愿在你掌心之中\n" +
                    "[02:22.74]你是风 你是风\n" +
                    "[02:25.03]炎热之中的清风\n" +
                    "[02:27.38]让我疯疯疯疯\n" +
                    "[02:29.75]想要爱你爱到天上\n" +
                    "[02:32.75]下起雨想起了你\n" +
                    "[02:35.19]呐呐呐呐\n" +
                    "[02:37.25]夜深时想起了你\n" +
                    "[02:39.96]呐呐呐呐\n" +
                    "[02:41.73]悲伤了想起了你\n" +
                    "[02:44.66]呐呐呐呐\n" +
                    "[02:46.66]失望时 想起了你\n" +
                    "[02:49.46]呐呐呐呐\n" +
                    "[02:51.21]努力时想起了你\n" +
                    "[02:54.05]呐呐呐呐\n" +
                    "[02:55.91]得意时想起了你\n" +
                    "[02:58.78]呐呐呐呐\n" +
                    "[03:00.68]喝醉了想起了你\n" +
                    "[03:03.48]呐呐呐呐\n" +
                    "[03:05.49]后悔了想起了你\n" +
                    "[03:08.32]呐呐呐呐\n" +
                    "[03:10.33]下起雨想起了你\n" +
                    "[03:12.99]呐呐呐呐\n"
            },
            {
                title: "我多想回到那个夏天",
                author: "傲七爷,小田音乐社",
                url: "http://img.qingfenginn.top/%E5%9B%9E%E5%88%B0%E5%A4%8F%E5%A4%A9-%E5%82%B2%E4%B8%83%E7%88%B7%2C%E5%B0%8F%E7%94%B0%E9%9F%B3%E4%B9%90%E7%A4%BE.mp3",
                pic: "http://p1.music.126.net/DSTg1dR7yKsyGq4IK3NL8A==/109951163046050093.jpg?param=300x300",
                lrc: "[00:00.000] 作词 : 雷壮、爱写歌的小田\n" +
                    "[00:00.000] 作曲 : 爱写歌的小田\n" +
                    "[00:00.01]本歌曲来自〖网易飓风计划〗\n" +
                    "[00:00.02]10亿现金激励，千亿流量扶持！\n" +
                    "[00:00.03]业务联系：jf399@vip.163.com\n" +
                    "[00:00.841]编曲：罗洋（卡其漠）\n" +
                    "[00:01.533]\n" +
                    "[00:02.264]我多想回到那个夏天\n" +
                    "[00:05.885]蝉鸣在田边吹过眼睫\n" +
                    "[00:09.503]贪恋夏夜星空你侧脸\n" +
                    "[00:13.196]犹记得清风撩拨心弦\n" +
                    "[00:16.822]初夏的味道是你微笑\n" +
                    "[00:20.454]我捧着月亮别来无恙\n" +
                    "[00:24.727]去更远的地方 见更亮的光\n" +
                    "[00:30.811]\n" +
                    "[00:32.935]穿白色衬衣的少年\n" +
                    "[00:35.992]他在我隔壁班\n" +
                    "[00:40.228]在操场上挥洒着汗\n" +
                    "[00:43.168]篮球被他玩转\n" +
                    "[00:46.775]快沸腾的想念\n" +
                    "[00:50.184]心动不止一点点\n" +
                    "[00:53.904]那年的池塘边 蝶舞翩翩\n" +
                    "[00:59.892]\n" +
                    "[01:02.012]听你最爱弹的和弦\n" +
                    "[01:04.968]是懵懂的爱恋\n" +
                    "[01:09.310]好想好想单曲循环\n" +
                    "[01:12.328]伴着我说晚安\n" +
                    "[01:15.840]青春往事如烟\n" +
                    "[01:19.072]你却在回忆里扑闪\n" +
                    "[01:22.928]我想永远永远 不再说再见\n" +
                    "[01:29.014]\n" +
                    "[01:29.511]我多想回到那个夏天\n" +
                    "[01:33.173]蝉鸣在田边吹过眼睫\n" +
                    "[01:36.775]贪恋夏夜星空你侧脸\n" +
                    "[01:40.470]犹记得清风撩拨心弦\n" +
                    "[01:44.105]初夏的味道是你微笑\n" +
                    "[01:47.685]我捧着月亮别来无恙\n" +
                    "[01:52.018]去更远的地方 见更亮的光\n" +
                    "[01:58.061]\n" +
                    "[02:14.599]穿白色衬衣的少年\n" +
                    "[02:17.699]他在我隔壁班\n" +
                    "[02:21.938]在操场上挥洒着汗\n" +
                    "[02:25.019]篮球被他玩转\n" +
                    "[02:28.597]快沸腾的想念\n" +
                    "[02:32.021]心动不止一点点\n" +
                    "[02:35.653]那年的池塘边 蝶舞翩翩\n" +
                    "[02:41.681]\n" +
                    "[02:42.158]我多想回到那个夏天\n" +
                    "[02:45.860]蝉鸣在田边吹过眼睫\n" +
                    "[02:49.532]贪恋夏夜星空你侧脸\n" +
                    "[02:53.208]犹记得清风撩拨心弦\n" +
                    "[02:56.830]初夏的味道是你微笑\n" +
                    "[03:00.396]我捧着月亮别来无恙\n" +
                    "[03:04.709]去更远的地方 见更亮的光\n" +
                    "[03:10.786]\n" +
                    "[03:11.190]我多想回到那个夏天\n" +
                    "[03:14.944]蝉鸣在田边吹过眼睫\n" +
                    "[03:18.565]贪恋夏夜星空你侧脸\n" +
                    "[03:22.258]犹记得清风撩拨心弦\n" +
                    "[03:25.866]初夏的味道是你微笑\n" +
                    "[03:29.494]我捧着月亮别来无恙\n" +
                    "[03:33.749]去更远的地方 见更亮的光\n" +
                    "[03:39.890]\n" +
                    "[03:41.792]制作人：爱写歌的小田\n" +
                    "[03:43.499]和声：小手\n" +
                    "[03:45.370]混音：张鸣利\n" +
                    "[03:47.133]监制：刘家泽\n" +
                    "[03:48.987]制作公司：匠心音乐\n" +
                    "[03:50.773]企划统筹：李永江 / 苏文嫒\n" +
                    "[03:52.787]宣发统筹：袁晓童 / 黄嘉慧 / 王暴雨\n" +
                    "[03:54.787]飓风计划合作邮箱：jf399@vip.163.com\n" +
                    "[99:00.01]本歌曲来自〖网易飓风计划〗\n" +
                    "[99:00.02]10亿现金激励，千亿流量扶持！\n" +
                    "[99:00.03]业务联系：jf399@vip.163.com\n"
            },
            {
                title: "万有引力",
                author: "F*yy",
                url: "http://img.qingfenginn.top/%E4%B8%87%E6%9C%89%E5%BC%95%E5%8A%9B-F_yy.mp3",
                pic: "http://p1.music.126.net/DSTg1dR7yKsyGq4IK3NL8A==/109951163046050093.jpg?param=300x300",
                lrc: "[00:00.000] 作词 : 汪苏泷\n" +
                    "[00:01.000] 作曲 : 汪苏泷\n" +
                    "[00:20.699]编曲arrangement：金若晨@岛山有与\n" +
                    "[00:30.699]终于等到响起了下课铃\n" +
                    "[00:34.338]已经约好在操场等你\n" +
                    "[00:36.489]夏天真的是闷得可以\n" +
                    "[00:37.898]带你去吃草莓冰淇淋\n" +
                    "[00:40.421]如果你有一点坏心情\n" +
                    "[00:42.918]我为你弹肖邦圆舞曲\n" +
                    "[00:45.427]听到这首轻松的旋律\n" +
                    "[00:47.921]好像吃了夹心巧克力\n" +
                    "[00:50.671]当我偷偷看你\n" +
                    "[00:52.669]当我偷偷的想着你\n" +
                    "[00:55.176]想些深奥的问题\n" +
                    "[00:58.172]我们的爱情\n" +
                    "[01:00.164]是丘比特安排的游戏\n" +
                    "[01:03.671]还是月下老人\n" +
                    "[01:05.891]他傻傻分不清\n" +
                    "[01:08.144]你说靠在我的肩膀\n" +
                    "[01:10.897]有心电感应\n" +
                    "[01:13.394]说不清又不像是梦境\n" +
                    "[01:17.900]我们的爱情\n" +
                    "[01:20.150]是两颗星星眯着眼睛\n" +
                    "[01:22.891]还是命中注定\n" +
                    "[01:25.641]我们会在一起\n" +
                    "[01:27.894]牛顿说过\n" +
                    "[01:29.918]有种东西叫万有引力\n" +
                    "[01:33.668]我因为你开始相信\n" +
                    "[01:37.421]那些大道理\n" +
                    "[01:48.174]天空有太阳暖暖的放晴\n" +
                    "[01:51.927]却又期待下一场大雨\n" +
                    "[01:53.924]我和你撑伞雨中穿行\n" +
                    "[01:56.930]收集每一个点点滴滴\n" +
                    "[01:59.183]喜欢你瞪着大大眼睛\n" +
                    "[02:01.677]对什么事情都很好奇\n" +
                    "[02:04.174]每天拿着苹果想定律\n" +
                    "[02:06.671]可爱到连吃饭都忘记\n" +
                    "[02:09.423]当我偷偷看你\n" +
                    "[02:11.674]当我偷偷的想着你\n" +
                    "[02:13.671]想些深奥的问题\n" +
                    "[02:17.179]我们的爱情\n" +
                    "[02:18.920]是丘比特安排的游戏\n" +
                    "[02:22.426]还是月下老人\n" +
                    "[02:24.423]他傻傻分不清\n" +
                    "[02:27.174]你说靠在我的肩膀有\n" +
                    "[02:30.425]心电感应\n" +
                    "[02:32.179]说不清又不像是梦境\n" +
                    "[02:36.429]我们的爱情\n" +
                    "[02:38.425]是两颗星星眯着眼睛\n" +
                    "[02:42.286]还是命中注定\n" +
                    "[02:44.030]我们会在一起\n" +
                    "[02:46.985]牛顿说过\n" +
                    "[02:48.739]有种东西叫万有引力\n" +
                    "[02:52.486]我因为你开始相信\n" +
                    "[02:55.801]那些大道理\n" +
                    "[03:00.962]我们的爱情\n" +
                    "[03:03.204]是丘比特安排的游戏\n" +
                    "[03:06.454]还是月下老人\n" +
                    "[03:08.709]他傻傻分不清\n" +
                    "[03:11.956]你说靠在我的肩膀有\n" +
                    "[03:14.710]心电感应\n" +
                    "[03:16.464]说不清又不像是梦境\n" +
                    "[03:20.714]我们的爱情\n" +
                    "[03:23.209]是两颗星星眯着眼睛\n" +
                    "[03:26.204]还是命中注定\n" +
                    "[03:28.455]我们会在一起\n" +
                    "[03:30.965]牛顿说过有种东西\n" +
                    "[03:34.459]叫万有引力\n" +
                    "[03:37.092]我因为你开始相信\n" +
                    "[03:40.846]那些大道理\n" +
                    "[03:48.846]\n" +
                    "[03:49.146]和声编写backing vocal arrangemet：胡皓@光合声动\n" +
                    "[03:49.846]制作人producer：金若晨@岛山有与\n" +
                    "[03:50.846]和声backing vocal：何文锐 徐冉@光合声动\n" +
                    "[03:51.846]录音recording：Quark@CY.s\n" +
                    "[03:52.846]音频编辑vocal editing：樊俊@光合声动\n" +
                    "[03:53.846]混音&母带mixing&mastering：吴哲旭@岛山有与\n" +
                    "[03:54.846]企划：秦脑虎\n" +
                    "[03:55.846]监制：何敏珊\n" +
                    "[03:56.846]专辑文案：阿夹\n" +
                    "[03:57.846]封面设计：朱航锐\n" +
                    "[03:58.144]出品：北京唐羽文化有限公司\n"
            }, {
                title: "少年 (Live)",
                author: "梦然",
                url: "http://img.qingfenginn.top/%E5%B0%91%E5%B9%B4-%E6%A2%A6%E7%84%B6.mp3",
                pic: "http://p1.music.126.net/DSTg1dR7yKsyGq4IK3NL8A==/109951163046050093.jpg?param=300x300",
                lrc: "[00:00.000] 作词 : 梦然\n" +
                    "[00:00.671] 作曲 : 梦然\n" +
                    "[00:01.342]原唱：梦然\n" +
                    "[00:01.791]音乐总监:陈伟伦\n" +
                    "[00:02.208]乐队总监/键盘:张继旗\n" +
                    "[00:02.608]声乐指导/音乐统筹:王艺轩\n" +
                    "[00:02.940]键盘:韩天赫\n" +
                    "[00:03.223]吉他:刘桐 毕赫宸\n" +
                    "[00:03.507]贝斯:赵浩成\n" +
                    "[00:03.722]鼓:王斌\n" +
                    "[00:04.040]打击乐: 胡瑀轩\n" +
                    "[00:04.272]PGM:张中豪\n" +
                    "[00:04.605]和音:王艺轩 曾喃 温勇 付垚    @悦伴歌声\n" +
                    "[00:04.921]录音/混音:S.A.G\n" +
                    "[00:05.155]\n" +
                    "[00:05.304]Wu oh oh\n" +
                    "[00:15.857]换种生活\n" +
                    "[00:16.656]让自己变得快乐\n" +
                    "[00:18.387]放弃执着\n" +
                    "[00:19.253]天气就会变得不错\n" +
                    "[00:21.052]每次走过\n" +
                    "[00:22.100]都是一次收获\n" +
                    "[00:23.632]还等什么 做对的选择\n" +
                    "[00:26.446]过去的\n" +
                    "[00:27.062]就让它过去吧\n" +
                    "[00:28.960]别管那是一个玩笑还是谎话\n" +
                    "[00:31.709]路在脚下\n" +
                    "[00:32.857]其实并不复杂\n" +
                    "[00:34.455]只要记得你是你呀\n" +
                    "[00:38.085]Wu oh oh\n" +
                    "[00:41.416]Wu oh oh\n" +
                    "[00:44.013]Wu oh oh\n" +
                    "[00:46.527]我还是从前那个少年\n" +
                    "[00:49.357]没有一丝丝改变\n" +
                    "[00:52.005]时间只不过是考验\n" +
                    "[00:54.669]种在心中信念丝毫未减\n" +
                    "[00:58.132]眼前这个少年\n" +
                    "[01:00.114]还是最初那张脸\n" +
                    "[01:02.761]面前再多艰险不退却\n" +
                    "[01:05.775]Say never never give up\n" +
                    "[01:07.823]Like a fire\n" +
                    "[01:09.105]我还是从前那个少年miya\n" +
                    "[01:13.067]我还是从前那个少年miya\n"
            },  {
                title: "下山",
                author: "要不要买菜",
                url: "http://img.qingfenginn.top/%E4%B8%8B%E5%B1%B1-%E8%A6%81%E4%B8%8D%E8%A6%81%E4%B9%B0%E8%8F%9C.mp3",
                pic: "http://p1.music.126.net/DSTg1dR7yKsyGq4IK3NL8A==/109951163046050093.jpg?param=300x300",
                lrc: "[id:$00000000]\n" +
                    "[ar:要不要买菜]\n" +
                    "[ti:下山]\n" +
                    "[by:]\n" +
                    "[hash:eabddf85153719da1991b20abe5fb80d]\n" +
                    "[al:]\n" +
                    "[sign:]\n" +
                    "[qq:]\n" +
                    "[total:173453]\n" +
                    "[offset:0]\n" +
                    "[00:00.99]要不要买菜 - 下山\n" +
                    "[00:02.16]作词：朱斌语\n" +
                    "[00:03.02]作曲：朱斌语\n" +
                    "[00:03.83]编曲：王中易\n" +
                    "[00:04.74]制作人：王中易\n" +
                    "[00:05.81]混音：王宇呈\n" +
                    "[00:06.72]和声：朱斌语、涵木之、陈迪庭\n" +
                    "[00:08.70]配唱：王中易、谭佳瑶\n" +
                    "[00:10.24]统筹：谭佳瑶\n" +
                    "[00:11.15]制作公司：Hikoon Music\n" +
                    "[00:12.16]录音室：Hikoon Music\n" +
                    "[00:13.12]OP：嗨库文化\n" +
                    "[00:15.00]要想练就绝世武功\n" +
                    "[00:16.98]就要忍受常人难忍受的痛\n" +
                    "[00:20.06]师傅喜欢喝的茶叫做乌龙\n" +
                    "[00:22.79]衣服爱穿中国红 嘿 师傅\n" +
                    "[00:26.68]无论是炎夏或寒冬\n" +
                    "[00:28.72]我都很向往山门外的天空\n" +
                    "[00:31.68]还在南方等我 下山的我\n" +
                    "[00:35.05]的人叫小落\n" +
                    "[00:37.75]我左手一式太极拳\n" +
                    "[00:40.89]右手一剑刺身前\n" +
                    "[00:43.66]扫腿这招叫清雪\n" +
                    "[00:46.75]破轻功飞燕\n" +
                    "[00:49.21]我奇筋异脉力破天\n" +
                    "[00:52.51]一身正气荡人间\n" +
                    "[00:55.61]除暴安良我心愿\n" +
                    "[00:58.51]老师傅再见\n" +
                    "[01:13.46]要想练就绝世武功\n" +
                    "[01:15.58]就要忍受常人难忍受的痛\n" +
                    "[01:18.62]师傅喜欢喝的茶叫做乌龙\n" +
                    "[01:21.61]衣服爱穿中国红 师傅\n" +
                    "[01:25.20]无论是炎夏或寒冬\n" +
                    "[01:27.17]我都很向往山门外的天空\n" +
                    "[01:30.36]还在南方等我 下山的我\n" +
                    "[01:33.59]的人叫小落 来\n" +
                    "[01:36.44]我左手一式太极拳\n" +
                    "[01:39.45]右手一剑刺身前\n" +
                    "[01:42.38]扫腿这招叫清雪\n" +
                    "[01:45.32]破轻功飞燕\n" +
                    "[01:47.83]我奇筋异脉力破天\n" +
                    "[01:51.12]一身正气荡人间\n" +
                    "[01:54.15]除暴安良我心愿\n" +
                    "[01:57.04]老师傅再见\n" +
                    "[02:00.46]人法地 地法天\n" +
                    "[02:04.00]天法道 道法自然\n" +
                    "[02:07.94]师师傅 什么是孜然\n" +
                    "[02:11.55]我左手一式太极拳\n" +
                    "[02:14.45]右手一剑刺身前\n" +
                    "[02:17.49]扫腿这招叫清雪\n" +
                    "[02:20.47]破轻功飞燕\n" +
                    "[02:23.00]我奇筋异脉力破天\n" +
                    "[02:26.24]一身正气荡人间\n" +
                    "[02:29.22]除暴安良我心愿\n" +
                    "[02:32.15]老师傅再见\n"
            },
            {
                title: "只要平凡",
                author: "张杰/张碧晨",
                url: "http://music.163.com/song/media/outer/url?id=574919767.mp3",
                pic: "http://p1.music.126.net/CjGoliP3xOB0gcCUaeTTBg==/109951163375727336.jpg?param=300x300",
                lrc: "[ti:只要平凡]\n" +
                    "[ar:张杰/张碧晨]\n" +
                    "[al:只要平凡]\n" +
                    "[by:天龙888]\n" +
                    "\n" +
                    "[00:00.00]只要平凡 - 张杰/张碧晨\n" +
                    "[00:01.00]\n" +
                    "[00:02.54]电影《我不是药神》主题曲\n" +
                    "[00:03.00]作词：格格\n" +
                    "[00:03.50]作曲：黄超\n" +
                    "[00:04.39]\n" +
                    "[00:04.86]也许很远或是昨天\n" +
                    "[00:08.56]在这里或在对岸\n" +
                    "[00:12.48]长路辗转离合悲欢\n" +
                    "[00:16.67]人聚又人散\n" +
                    "[00:20.62]放过对错才知答案\n" +
                    "[00:25.14]活着的勇敢\n" +
                    "[00:28.75]没有神的光环\n" +
                    "[00:33.19]你我生而平凡\n" +
                    "[00:36.51]\n" +
                    "[00:37.89]在心碎中认清遗憾\n" +
                    "[00:41.55]生命漫长也短暂\n" +
                    "[00:45.40]跳动心脏长出藤蔓\n" +
                    "[00:49.60]愿为险而战\n" +
                    "[00:53.49]跌入灰暗坠入深渊\n" +
                    "[00:58.04]沾满泥土的脸\n" +
                    "[01:01.88]没有神的光环\n" +
                    "[01:06.22]握紧手中的平凡\n" +
                    "[01:10.18]此心此生无憾\n" +
                    "[01:14.66]生命的火已点燃\n" +
                    "[01:17.66]\n" +
                    "[01:19.10]有一天也许会走远\n" +
                    "[01:24.77]也许还能再相见\n" +
                    "[01:28.82]无论在人群在天边\n" +
                    "[01:33.23]让我再看清你的脸\n" +
                    "[01:37.00]任泪水铺满了双眼\n" +
                    "[01:42.01]虽无言泪满面\n" +
                    "[01:45.79]不要神的光环\n" +
                    "[01:49.72]只要你的平凡\n" +
                    "[01:53.40]\n" +
                    "[01:54.79]音乐制作人：黄超\n" +
                    "[01:55.41]编曲：黄超\n" +
                    "[01:56.26]吉他：黄超\n" +
                    "[01:57.01]单簧管：刘峤\n" +
                    "[01:57.82]和音编写：黄超\n" +
                    "[01:58.57]和音演唱：张杰 张碧晨\n" +
                    "[01:59.31]人声录音师：汝文博 ,朱玉婷\n" +
                    "[02:00.05]录音工作室：BIG.J Studio,香蕉计划录音棚\n" +
                    "[02:00.71]混音师：周天澈\n" +
                    "[02:01.36]母带工程师：周天澈\n" +
                    "[02:02.05]母带工作室：TC Faders\n" +
                    "[02:02.73]\n" +
                    "[02:39.88]在心碎中认清遗憾\n" +
                    "[02:43.57]生命漫长也短暂\n" +
                    "[02:48.05]跳动心脏长出藤蔓\n" +
                    "[02:51.85]愿为险而战\n" +
                    "[02:56.06]跌入灰暗坠入深渊\n" +
                    "[02:59.98]沾满泥土的脸\n" +
                    "[03:03.86]没有神的光环\n" +
                    "[03:08.28]握紧手中的平凡\n" +
                    "[03:11.85]\n" +
                    "[03:12.79]有一天也许会走远\n" +
                    "[03:16.57]也许还能再相见\n" +
                    "[03:20.54]无论在人群在天边\n" +
                    "[03:24.84]让我再看清你的脸\n" +
                    "[03:29.01]任泪水铺满了双眼\n" +
                    "[03:33.22]虽无言泪满面\n" +
                    "[03:37.01]不要神的光环\n" +
                    "[03:41.59]只要你的平凡\n" +
                    "[03:45.78]此心此生无憾\n" +
                    "[03:49.64]生命的火已点燃\n" +
                    "[03:52.88]\n" +
                    "[03:53.55]lrc歌词编辑：天龙 QQ：26092798"
            },
        ]
    })
    zp2.init();

    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
</script>

</body>
</html>
