<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content="www.Slcp.top" />
    <meta name="robots" content="all" />
    <title>Slcpの标本屋</title>
    <link rel="stylesheet" href="../static/css/blog.min.css" th:href="@{/css/blog.min.css}">
    <head th:replace="~{common :: .head}"></head>
</head>
<body>
<div th:replace="~{common :: .top}"></div>
<div class="bg-cover pd-header about-cover" style="background-image: url(https://img.slcp.top/xiyang.jpeg)">
    <div data-aos="fade-left" class="link-tag hide-on-med-and-down">
        <div class="V-title">
            <span>"tags"</span>
        </div>
    </div>
    <div class="center-align link-typed">
        <span id="subtitle" style="font-size: 28px;"></span>
    </div>
    <div class="hide-on-med-and-down V-img-link"
         data-aos="fade-right">
        <div class="V-title">
            <span>"Slcp"</span>
        </div>
    </div>
</div>
<main class="content">
    <div id="tags" class="container chip-container">
        <div class="card">
            <div class="card-content">
                <div class="center-align">
                    <div class="V-title V-title-top">
                        <span><i class="fa fa-tags"></i></span><span>&nbsp;&nbsp;分类☁️</span>
                    </div>
                </div>
                <hr data-aos="fade-right">
                <div class="tag-chips">
                    <a th:each="tag : ${tags}" th:href="@{/tags/{id}(id=${tag.tagId})}">
                    <span class="chip center-align waves-effect waves-light
                             chip-default" th:style="${tag.color}">♪&nbsp;&nbsp;
                        <span th:text="${tag.tagName}">多线程</span>
                        <span class="tag-length" th:text="${tag.sum}">4</span>
                    </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <article id="articles" class="container articles" th:if="${pageInfoSize}>0">
        <div class="row tags-posts">
            <div class="article tag-post col s12 m6 l4 aos-init aos-animate" data-aos="zoom-in" th:each="blog : ${pageInfo}">
                <div class="card">
                    <a th:href="@{/article/read/{id}(id=${blog.id})}">
                        <div class="card-image tag-image">
                            <img class="responsive-img lazyload" th:href="@{/article/read/{id}(id=${blog.id})}" src="../static/images/common/orange.progress-bar-stripe-loader.svg" th:src="@{/images/common/orange.progress-bar-stripe-loader.svg}" data-src="../static/images/backimg1.jpg" th:data-src="@{${blog.firstPicture}}" alt="${blog.title}">
                            <span class="card-title" th:text="${blog.title}">SpringCloud学习(3)-Ribbon和Feign</span>
                            <div class="box-content">
                                <h3 class="title">阅读全文</h3>
                                <span class="post" th:text="${blog.title}">SpringCloud学习(3)-Ribbon和Feign</span>
                            </div>
                        </div>
                    </a>
                    <div class="card-content article-content">
                        <div class="publish-info">
                            <span class="publish-date">
                                <i class="far fa-calendar-minus"></i>&nbsp;<span th:text="${#dates.format(blog.createTime,'yyyy年MM月dd日')}">2020年06月10日</span>
                            </span>
                            <span class="publish-author">
                                <i class="fa fa-bookmark fa-fw icon-category"></i>
                                <a th:href="@{/article/category/{name}(name=${blog.typeName})}" th:text="${blog.typeName}" class="post-category">
                                     后端
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</main>
<div th:include="~{common :: .floor}"></div>
<div th:replace="~{common :: .floor-js}"></div>

</body>
</html>