<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>注册测试</title>

    <link rel="stylesheet" href="../static/lib/music/css/zplayer.min.css" th:href="@{/lib/music/css/zplayer.min.css}"/>
    <script type="text/javascript" src="../static/lib/music/js/zplayer.min.js"
            th:src="@{/lib/music/js/zplayer.min.js}"></script>
    <link rel="stylesheet" href="../static/common/common.css" th:href="@{/common/common.css}">
</head>
<!-- <div id="weather-view-he">天气加载中...</div>
    <script>
        WIDGET = {ID: 'ohiX7EjqCv'};
    </script>
    <script type="text/javascript" src="https://apip.weatherdt.com/view/static/js/r.js?v=1111"></script>
    <style>
        #weather-view-he{
            background: none !important;
            width: auto !important;
            height: auto !important;
            border: none !important;
            /*浮在最上方*/
            position: absolute !important;/*这里一定要设置*/
            z-index: 999999; !important;/*这里是该元素与显示屏的距离，据说越大越好，但是我也没有看到效果，因为没有它也是可以的*/
        }

        #weather-view-he div {
            display: inline-block;
            width: auto;
            font-size: 20px;
        !important;
            color: white !important;
            margin-left: 3px;
            margin-top: 3px;
        }
        #weather-view-he span {
            color: white !important;
            font-size: 25px!important;
           opacity: 0.7 !important;
        }
        .wv-v-h-location{ padding: 0 !important; float: left !important;}
        .wv-lt-col-7{ width: auto !important;}
        .wv-v-h-col-left{ width: auto !important;}
        .wv-n-h-col-10 { width: auto !important;}
        .wv-n-h-col-12[data-v-91ef9470]{ display: none !important;}
        div.wv-n-h-now-img>img[data-v-91ef9470]{ width: 20px !important; margin: 0 !important; position: relative; top: 3px;}
        .wv-v-h-copyright{ display: none !important;}
        .wv-n-h-now-tmp[data-v-91ef9470]{ font-size: 14px !important; font-weight: bold;}
    </style>
-->

<style>

    #weather-v2-plugin-simple div.s-sticker{
        display: table;
        width: 10%;
        height: 100%;
        text-align: center;
    }
    #weather-v2-plugin-simple div data-v-0af378b6{
        /*浮在最上方*/
        position: absolute !important;/*这里一定要设置*/
        z-index: 999999; !important;/*这里是该元素与显示屏的距离，据说越大越好，但是我也没有看到效果，因为没有它也是可以的*/
    }
</style>

<body>
<div id="weather-v2-plugin-simple"></div>

<script>
    WIDGET = {
        CONFIG: {
            "modules": "01234",
            "background": 1,
            "tmpColor": "FFFFFF",
            "tmpSize": "15",
            "cityColor": "FFFFFF",
            "citySize": "14",
            "aqiSize": 16,
            "weatherIconSize": "26",
            "alertIconSize": 18,
            "padding": "10px 10px 10px 10px",
            "shadow": "1",
            "language": "auto",
            "borderRadius": "10",
            "fixed": "false",
            "vertical": "middle",
            "horizontal": "center",
            "key": "pr8pncrzup"
        }
    }
</script>
<script src="https://apip.weatherdt.com/simple/static/js/weather-simple-common.js?v=2.0"></script>
<!--
<div class="ui m-margin- m-opacity" align="center" style="float: left">
    <div class="ui container box-shadow-max">
        <div id="player2" style="float: right "></div>
    </div>
</div>-->


</body>
<script>
    var zp2 = new zplayer({
        element: document.getElementById("player2"),
        autoPlay: 1,/*是否开启自动播放,默认false*/
        lrcStart: false,/*是否开启歌词功能 ，默认false（为true时musics集合中需要传入lrc字段。）*/
        musics: [
            {
                title: "迷失幻境",
                author: "IN-K/王忻辰",
                url: "https://sharefs.yun.kugou.com/202012101817/c60396028b8ca86922b74e06c488cbda/G242/M09/14/10/kocBAF-ZNKuAJBDIACxrmdrmvsM892.mp3",
                pic: "https://bkimg.cdn.bcebos.com/pic/54fbb2fb43166d224f4ab95ec0691ef79052992274ec?x-bce-process=image/resize,m_lfit,w_268,limit_1/format,f_jpg?param=300y300",

            }, {
                title: "执迷不悟",
                author: "小乐哥",
                url: "https://sharefs.yun.kugou.com/202012101832/0faff1977447fac167bc7afc10d2161c/G235/M01/11/11/Kw4DAF9p7JSAH6LTADv7Rnp9wOY134.mp3",
                pic: "http://p2.music.126.net/Eg4cy0_HIF2nrX2gMCsWkQ==/17967119509636556.jpg?param=300y300",

            }, {
                title: "浪子闲话",
                author: "花僮",
                url: "https://sharefs.yun.kugou.com/202012101831/b1bb0745fde19d35514fe28e57e16b59/G246/M06/12/11/locBAF-jqfSAVAMKADPQcJX3f9A603.mp3",
                pic: "http://p2.music.126.net/Eg4cy0_HIF2nrX2gMCsWkQ==/17967119509636556.jpg?param=300y300",

            }, {
                title: "我从崖边跌落",
                author: "谢春花",
                url: "http://music.163.com/song/media/outer/url?id=415086030.mp3",
                pic: "http://p2.music.126.net/Eg4cy0_HIF2nrX2gMCsWkQ==/17967119509636556.jpg?param=300y300",

            },

            {
                title: "大天蓬",
                author: "清水er",
                url: "https://sharefs.yun.kugou.com/202012111222/d53e1d86f0e4d4fe42657097b9277712/G198/M0A/1C/13/ZocBAF54cpqADFiRADSXe5mU94Y623.mp3",
                pic: "http://p1.music.126.net/CjGoliP3xOB0gcCUaeTTBg==/109951163375727336.jpg?param=300x300",

            }, {
                title: "笑纳",
                author: "花僮",
                url: "https://sharefs.yun.kugou.com/202012101833/e5210cef9f88c0eac4ae93606a399b0a/G227/M05/04/08/Iw4DAF9EtSyAHni8AEKYmb_KItw819.mp3",
                pic: "http://p2.music.126.net/Eg4cy0_HIF2nrX2gMCsWkQ==/17967119509636556.jpg?param=300y300",

            }, {
                title: "游京",
                author: "海伦",
                url: "https://sharefs.yun.kugou.com/202012101838/c795096d187a2af21a2971c8d7cef4c1/G244/M08/06/17/NA4DAF-BggCANPAoAC4kavySQRA457.mp3",
                pic: "http://p1.music.126.net/DSTg1dR7yKsyGq4IK3NL8A==/109951163046050093.jpg?param=300x300",
            },  {
                title: "忘川彼岸",
                author: "名龙",
                url: " https://sharefs.yun.kugou.com/202012101828/c0ee10ba6046256601bae0174622f7bf/G221/M04/0A/00/HQ4DAF8ecg6AV-2FACv-Nh0P7z4142.mp3",
                pic: "http://p2.music.126.net/Eg4cy0_HIF2nrX2gMCsWkQ==/17967119509636556.jpg?param=300y300",

            }, {
                title: "游山恋",
                author: "海伦",
                url: "https://sharefs.yun.kugou.com/202012101829/360a8661f5e02f2189f9a272befbc0f0/G219/M0B/13/07/e4cBAF7Q1LWAYbbvADawLNjMOuY644.mp3",
                pic: "http://p2.music.126.net/Eg4cy0_HIF2nrX2gMCsWkQ==/17967119509636556.jpg?param=300y300",

            }, {
                title: "惊雷",
                author: "皮卡丘多多",
                url: "https://sharefs.yun.kugou.com/202012111247/6490165cf5f6dd20ce3f2dd73778959d/G193/M0B/13/19/oZQEAF6NobqAQvG3ADWHB-eBPk4697.mp3",
                pic: "http://p2.music.126.net/Eg4cy0_HIF2nrX2gMCsWkQ==/17967119509636556.jpg?param=300y300",

            }, {
                title: "旧梦一场",
                author: "阿悠悠",
                url: "https://sharefs.yun.kugou.com/202012101849/3331d40d12c6c2207c4e432133164d00/G207/M04/08/17/b4cBAF6dSAuAe0jEACqPWUABld8201.mp3",
                pic: "http://p2.music.126.net/Eg4cy0_HIF2nrX2gMCsWkQ==/17967119509636556.jpg?param=300y300",

            }, {
                title: "想起了你",
                author: "沙粒小姐",
                url: "https://sharefs.yun.kugou.com/202012101849/76b3f84b0e98d4d5b80949ae5b70f499/G235/M04/07/08/i4cBAF8doQuAWRJcADRDINwJvWY664.mp3",
                pic: "http://p2.music.126.net/Eg4cy0_HIF2nrX2gMCsWkQ==/17967119509636556.jpg?param=300y300",

            }, {
                title: "我多想回到那个夏天",
                author: "爱写歌的小田、傲七爷",
                url: "https://sharefs.yun.kugou.com/202012101851/5158c745b7545e468da36798c98d381f/G244/M03/1F/1F/1JQEAF9wAsiABwc8ADqkr_nXmJw782.mp3",
                pic: "http://p2.music.126.net/Eg4cy0_HIF2nrX2gMCsWkQ==/17967119509636556.jpg?param=300y300",

            }, {
                title: "苏幕遮",
                author: "一条小团团ovo",
                url: "https://sharefs.yun.kugou.com/202012101842/744dacf74497abcdfed7abe84b9e24bf/G206/M01/1D/08/rpQEAF5eJEeAJiA8ADFdLR7fUco726.mp3",
                pic: "http://p2.music.126.net/Eg4cy0_HIF2nrX2gMCsWkQ==/17967119509636556.jpg?param=300y300",

            }, {
                title: "万有引力",
                author: "F*yy",
                url: "http://m10.music.126.net/20201210191929/e03cb46d735af4a091f2aa00a186c6a3/ymusic/obj/w5zDlMODwrDDiGjCn8Ky/2510639983/38bd/2de7/f136/b23be3ed8af04cbddca9a17c90913795.mp3",
                pic: "http://p2.music.126.net/Eg4cy0_HIF2nrX2gMCsWkQ==/17967119509636556.jpg?param=300y300",

            }, {
                title: "少年 (Live)",
                author: "梦然",
                url: "http://m801.music.126.net/20201210192241/51a1b8861f02f0fa6163a97e5fb4566c/jdymusic/obj/wo3DlMOGwrbDjj7DisKw/4244848340/77ee/f22d/09a8/996c9d46c38664cefdaf37fabd3837cd.mp3",
                pic: "http://p2.music.126.net/Eg4cy0_HIF2nrX2gMCsWkQ==/17967119509636556.jpg?param=300y300",

            }, {
                title: "世界这么大还是遇见你",
                author: "程响",
                url: "https://sharefs.yun.kugou.com/202012101859/ed306d186964d3cf5fad0bfff965489a/G189/M00/17/03/XYcBAF4NnfOAdKH5ADn3W1bs4L0215.mp3",
                pic: "http://p2.music.126.net/Eg4cy0_HIF2nrX2gMCsWkQ==/17967119509636556.jpg?param=300y300",

            }, {
                title: "下山",
                author: "要不要买菜",
                url: "http://m10.music.126.net/20201210192513/c97b163e083332464236534c35a45853/ymusic/0058/050b/050c/722ab2fd3f2af0a151ad2f2840959bc8.mp3",
                pic: "http://p2.music.126.net/Eg4cy0_HIF2nrX2gMCsWkQ==/17967119509636556.jpg?param=300y300",

            }, {
                title: "月牙湾",
                author: "刘至佳",
                url: "http://m10.music.126.net/20201210192703/d4fffb19b89d0c21f4df9d430a88452b/ymusic/030c/055b/045a/4feb4a876a21479304ac30051f8f7d48.mp3",
                pic: "http://p2.music.126.net/Eg4cy0_HIF2nrX2gMCsWkQ==/17967119509636556.jpg?param=300y300"
            },
            {
                title: "梦灯笼",
                author: "千陵安浅",
                url: "http://m10.music.126.net/20201210210045/c41f2a03ff9c39f3afc275bf1aa27bdc/ymusic/7d9d/0eaf/3c02/189b26340667d71596cb9818c1018af8.mp3",
                pic: "http://p2.music.126.net/Eg4cy0_HIF2nrX2gMCsWkQ==/17967119509636556.jpg?param=300y300",
            }

        ]

        /*   {
           title: "梦灯笼",
                 author: "千陵安浅",
             url: "http://m10.music.126.net/20201210201953/85f4aa3fdda1f609c8997e70006733a0/ymusic/7d9d/0eaf/3c02/189b26340667d71596cb9818c1018af8.mp3",
             pic: "http://p2.music.126.net/Eg4cy0_HIF2nrX2gMCsWkQ==/17967119509636556.jpg?param=300y300",

         }*/
    })
    zp2.init();

    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
</script>

<link rel="stylesheet" href="../static/css/live2D/font-awesome.min.css" th:href="@{/css/live2D/font-awesome.min.css}"/>
<script src="../static/js/live2D/live2DJS.js" th:src="@{/js/live2D/live2DJS.js}"></script>
<script src="../static/js/live2D/autoload.js" th:src="@{/js/live2D/autoload.js}"></script>
<!--<body>
<div align="center" style="border: 1px solid black;margin:auto;width: 400px;text-align: center;">
    <form action="#" method="post" autocomplete="off">&lt;!&ndash;autocomplete是否提示之前输入的记录&ndash;&gt;
        <div>注册详情</div>
        <hr>
        <div>
            <label for="username">用户名：</label>&lt;!&ndash;label获得焦点for属性绑定谁的id获取谁的焦点&ndash;&gt;
            <input type="text" id="username" name="username" placeholder="用户名"><br>&lt;!&ndash;placeholder框中提示内容，获得焦点后消失&ndash;&gt;
            密码：<input type="password" name="password" placeholder="密码"><br>
            邮箱：<input type="email" name="email" placeholder="邮箱" required><br>&lt;!&ndash;required必填属性，没填提交会校验&ndash;&gt;
            手机：<input type="text" name="phone" placeholder="手机" required><br>
        </div>
        <hr>
        <div>
            性别：
            <input type="radio" name="gender" value="men" checked>男&lt;!&ndash;radio单选框，name名称须保持一致才能实现单选，value实际提交的值&ndash;&gt;
            <input type="radio" name="gender" value="women">女
            <br>
            爱好：
            <input type="checkbox" name="hobby" value="music" checked>音乐&lt;!&ndash;checkbox复选框，name名称须保持一致才能实现单选，value实际提交的值&ndash;&gt;
            <input type="checkbox" name="hobby" value="movin">电影
            <input type="checkbox" name="hobby" value="game">游戏
            <br>
            出生日期：
            <input type="date" name="date" value="">
            <br>
            所在城市：
            <select name="city">
                <option>请选择所在城市</option>
                <optgroup label="省会">
                <option>长沙</option>
                <option>南昌</option>
                <option>上海</option>
                </optgroup>
            </select>
        </div>
        <hr>
        <div>
            个性签名：<textarea name="message" placeholder="输入信息" rows="5" cols="20"></textarea>
        </div>
        <hr>
        <div>
            <input type="submit" value="注册">
            <input type="reset" value="重置">
        </div>

    </form>
</div>
</body>-->
</html>